Source: execfilter
Section: admin
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
    pkg-config, automake, 
    libglib2.0-0,
    libbas-c
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/hack/execfilter
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/hack/execfilter

Package: execfilter
Architecture: any
Depends:
    libbas-c,
    libglib2.0-0,
    ${misc:Depends}
Description: Control the execution of specific programs.
    This program gives you the ability to control the execution of specfic programs.

Package: execfilter-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    execfilter (= ${binary:Version}),
    libbas-c-dbg,
    ${misc:Depends}
Description: Debugging symbols for the execfilter library.
    This program gives you the ability to control the execution of specfic programs.
