Source: xjl-aptutils
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-aptutils

Package: xjl-aptutils
Package: aptutils
Architecture: all
Depends: apt, aptitude, dpkg, xjl-bash-aliases, xjl-bash-shlib
Description: Aptitude packages utilities
