Source: ini-utils
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/utils/ini-utils
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/utils/ini-utils
Vcs-Browser: http://svn.bodz.net/uni/trunk/utils/ini-utils

Package: ini-utils
Architecture: all
Depends: ${misc:Depends}
Description: INI file manipulate utilities.
