Source: cdtree
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/utils/cdtree
Vcs-SVN: http://svn.bodz.net/uni/trunk/utils/cdtree
Vcs-Browser: http://trac.bodz.net/projects/bodz/browser/uni/trunk/utils/cdtree

Package: cdtree
Provides: cdtree
Architecture: all
Depends: tree, bash-aliases, bash-shlib, coolansi, sed
Description: Chdir into complex directory tree
