Source: xjl-cdtree
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/xjl-cdtree

Package: xjl-cdtree
Provides: cdtree
Architecture: all
Depends: tree, xjl-bash-aliases, xjl-bash-shlib, xjl-coolansi, sed
Description: Chdir into complex directory tree
