Source: docker-enh
Section: admin
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: http://uni.bodz.net/toolenh/docker-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/docker-enh

Package: docker-enh
Architecture: all
Depends: 
    bash-alias,
    bash-shlib,
    docker-engine | docker.io,
    ${misc:Depends}
Description: Docker utilities.
