Source: router-vendor-utils
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/net/router-vendor-utils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/net/router-vendor-utils

Package: router-vendor-utils
Architecture: all
Depends:
    bash-shlib,
    curl,
    wget,
    xml2,
    ${misc:Depends}
Recommends:
    xdg-utils
Description: Router vendor-dependent utils
    This package contains utilities to manipulate network router devices.
