Source: wine-enh
Section: misc
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/toolenh/wine-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/wine-enh

Package: wine-enh
Architecture: all
Depends:
    ${misc:Depends}
Recommends:
    wine | wine-unstable,
    winetricks
Description: Lenik's WINE supplements.
