Source: wine-enh
Section: misc
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/toolenh/wine-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/toolenh/wine-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk/toolenh/wine-enh

Package: wine-enh
Architecture: all
Depends: wine, winetricks
Description: Lenik's WINE supplements.
