Source: xjl-fsutils
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-fsutils

Package: xjl-fsutils
Architecture: all
Depends: mount, xjl-bash-shlib
Description: VEX/alt mounts, etc.
