Source: debiancd-utils
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/package/debiancd-utils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/packaging/debiancd-utils

Package: debiancd-utils
Architecture: all
Depends:
    bash-shlib,
    genisoimage,
    lzma,
    mountfile,
    squashfs-tools,
    ${misc:Depends}
Description: Tools for create Ubuntu Live CD, etc.
