Source: eclipse-enh
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/eclipse-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/eclipse-enh

Package: eclipse-enh
Provides: cooleclipse
Architecture: all
Depends:
    rar,
    ${misc:Depends}
Description: Provide eclipse intergration with links
