Source: libcpf
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Section: libs
Homepage: http://uni.bodz.net/lib/libcpf
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/lib/libcpf

Package: libcpf
Section: libs
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends}
Description: C prog framework
    C prog framework

Package: libcpf-dev
Section: libdevel
Architecture: any
Depends:
    ${misc:Depends}
Description: Header files for the libcpf library.
    C prog framework

Package: libcpf-dbg
Section: debug
Priority: extra
Architecture: any
Depends:
    libcpf (= ${binary:Version}),
    ${misc:Depends}
Description: Header files for the libcpf library.
    C prog framework
