Source: xjl-coolmaven
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7), xjl-xmlutils
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-coolmaven

Package: xjl-coolmaven
Provides: coolmaven
Architecture: all
Depends: xjl-bash-aliases, xjl-coolsvn, maven2, grep, wget,
    xjl-xmlutils, xmlindent, xjl-configutils, graphviz
Description: Lenik's Maven utils
