Source: ffmpeg-enh
Section: graphics
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/toolenh/ffmpeg-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/ffmpeg-enh

Package: ffmpeg-enh
Architecture: all
Depends: 
    bash-shlib,
    ffmpeg,
    ${misc:Depends}
Description: ffmpeg based utilities.
