Source: xjl-coolvim
Section: text
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-coolvim

Package: xjl-coolvim
Architecture: all
Depends: ${misc:Depends}, vim, grep, sudo
    , xjl-coolbash
Description: Lenik's vim enhancement.
