Source: xjl-coolspec
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-coolspec

Package: xjl-coolspec
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xjl-coolbash, xjl-coolutils
Description: alpha-Spec tool chain.
