Source: x11-hw-adjust
Section: x11
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/x11/x11-hw-adjust
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/x11/x11-hw-adjust

Package: x11-hw-adjust
Architecture: all
Depends: ${misc:Depends}
Description: X11 hardware adjust tools
    Utilities to adjust the parameters of the display devices.
  Included:
    xrandr-add-scales
    xrandr-mode
