<?xml version="1.0" encoding="utf-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>mirror</id>
            <name>Local Mirror</name>
            <mirrorOf>central</mirrorOf>
            <url>http://m2.local</url>
        </mirror>
        <mirror>
            <id>s-mirror</id>
            <name>Local Snapshot Mirror</name>
            <mirrorOf>fake-snapshot</mirrorOf>
            <url>http://m2s.local</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>fake-snapshot</id>
            <repositories>
                <repository>
                    <id>fake-snapshot</id>
                    <url>http://snapshot.fake</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>fake-snapshot</activeProfile>
    </activeProfiles>
</settings>
