Source: archiva
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/alt/archiva
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/archiva

Package: archiva
Architecture: all
Depends:
    bash-shlib,
    configutils,
    jetty8,
    jetty8-enh,
    libtomcat7-java,
    wget-enh,
    ${misc:Depends}
Description: Apache Archiva run on Jetty server.
