Source: smartmon-git
Section: admin
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: http://uni.bodz.net/util/smartmon-git
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/smartmon-git

Package: smartmon-git
Architecture: all
Depends: 
    bash-shlib,
    git,
    rrdtool-enh,
    smartmontools,
    ${misc:Depends}
Description: Monitor S.M.A.R.T. statuses with Git and RRD.

