Source: cooltext
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/text/cooltext
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/text/cooltext

Package: cooltext
Architecture: all
Depends:
    bash-shlib,
    coolutils,
    libcmt-perl,
    libtext-diff-perl,
    perl,
    python-chardet,
    ${misc:Depends}
Description: Text process utilities
