Source: mjpl
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/java/mjpl
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/java/mjpl
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/java/mjpl

Package: mjpl
Architecture: all
Depends:
    bash-shlib,
    ${misc:Depends}
Description: Mavan/Modularized Java Program Launcher/Loader
