Source: mjpl
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net/java/mjpl
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/java/mjpl

Package: mjpl
Architecture: any
Depends:
    bash-shlib,
    ${misc:Depends}
Description: Mavan/Modularized Java Program Launcher/Loader
