Source: @PACKAGE_NAME@
Section:
Priority: extra
Maintainer: @DEB_USERNAME@ <@EMAIL@>
Build-Depends: debhelper-helper (>= 13), autotools-dev
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/@PACKAGE_NAME@
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/$rel

Package: @PACKAGE_NAME@
Architecture: all
Depends:
    ${misc:Depends}
Description: <insert up to 60 chars description>
    <insert long description, indented with spaces>
