Source: quickweb
Section: web
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/web/quickweb
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/web/quickweb

Package: quickweb
Architecture: all
Depends: 
    bash-shlib,
    perl,
    ${misc:Depends}
Description: Quick tools for Web development
