Source: desktoputils
Section: x11
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/x11/desktoputils
Vcs-SVN: http://svn.bodz.net/uni/trunk/x11/desktoputils
Vcs-Browser: http://trac.bodz.net/projects/bodz/browser/uni/trunk/x11/desktoputils

Package: desktoputils
Architecture: all
Depends:
Description: Lenik's desktop utilities
