Source: x-tools-local
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/alt/x-tools-local
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/x-tools-local

Package: x-tools-local
Architecture: all
Depends:
    bash-shlib,
    ${misc:Depends}
Description: Support for crosstool-ng and its dev environment builds.
    This package provide support utils for cross development based on crosstool-ng.
