Source: xjl-whoare
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/xjl-whoare

Package: xjl-whoare
Architecture: all
Depends: perl
Description: Whois for batch query
