Source: msync
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/net/msync
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/net/msync

Package: msync
Provides: coolsync
Architecture: all
Depends:
    bash-shlib,
    rsync,
    ${misc:Depends}
Description: Sync utils for rsync, etc.
