Source: libjs-bootstrap-tagsinput
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/libjs-bootstrap-tagsinput
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libjs-bootstrap-tagsinput

Package: libjs-bootstrap-tagsinput
Architecture: all
Depends: 
    libjs-jquery,
    ${misc:Depends}
Description: jQuery plugin providing a Twitter Bootstrap user interface for managing tags.
