Source: phddns
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/alt/phddns
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/alt/phddns
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/alt/phddns

Package: phddns
Architecture: any
Depends:
Description: Peanuthull Linux-core 2.0
    By oray.com, copyright 2011
