Source: compiz-pref-xjl
Section: x11
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-xjl/compiz-pref-xjl
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/pref-xjl/compiz-pref-xjl
Vcs-Browser: http://svn.bodz.net/uni/trunk/pref-xjl/compiz-pref-xjl

Package: compiz-pref-xjl
Provides: coolx11
Architecture: all
Depends: x11-xserver-utils
Recommends: compizconfig-settings-manager
Suggests: compiz-plugins-extra
Description: Lenik's PC/X11 environment
