Source: libjs-zwk
Section: web
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/lib/libjs-zwk
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/lib/libjs-zwk

Package: libjs-zwk
Architecture: all
Depends:
    libjs-jquery,
    libjs-jquery-ui,
    ${misc:Depends}
Description: Zwk JavaScript library
