Source: postgresql-latest
Section: database
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/postgresql-latest
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/postgresql-latest

Package: postgresql-latest
Architecture: all
Depends:
    postgresql-9.3
Recommends:
    postgresql-plperl-9.3,
    postgresql-plpython-9.3,
    postgresql-client-9.3,
    postgresql-contrib-9.3,
    postgresql-doc-9.3
Description: Select the latest PostgreSQL databse.
