Source: xjl-coolphp
Section: php
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/xjl-coolphp

Package: xjl-coolphp
Architecture: all
Depends: php5
Description: PHP utilities for development.
