Source: lilygen
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/devel/lilygen
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/devel/lilygen

Package: lilygen
Architecture: all
Depends: 
    bash-shlib,
    ${misc:Depends}
Description: Code generator for Lily framework.
