Source: yapp-enh
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/toolenh/yapp-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/yapp-enh

Package: yapp-enh
Architecture: all
Depends:
    perl,
    ${misc:Depends}
Description: Yet another Perl Parser.
    (Sorry, the DIRT/0/yapp is lost. )
