Source: yapp-enh
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/yapp-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/toolenh/yapp-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk/toolenh/yapp-enh

Package: yapp-enh
Architecture: all
Depends: ${misc:Depends}, perl
Description: Yet another Perl Parser.
    (Sorry, the DIRT/0/yapp is lost. )
