Source: ec2-bind
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.1
Homepage: http://uni.bodz.net/net/ec2-bind
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/net/ec2-bind

Package: ec2-bind
Architecture: all
Depends:
    bind9,
    ${misc:Depends}
Description: BIND name server for EC2.
