Source: libjs-twitter-typeahead
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/libjs-twitter-typeahead
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libjs-twitter-typeahead

Package: libjs-twitter-typeahead
Architecture: all
Depends: 
    libjs-jquery,
    ${misc:Depends}
Description: Fast and fully-featured autocomplete library.
