Source: lddd
Section: libs
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/devel/lddd
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/devel/lddd

Package: lddd
Architecture: all
Depends:
    libc-bin,
    ${misc:Depends}
Description: See the closure of dynamic library dependencies.
