Source: coolmake
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/coolmake

Package: coolmake
Provides: coolmake
Architecture: all
Depends: make, coolauto
Recommends: cooltex
Description: Make shortcut & helpers
