Source: mate-panel-control
Section: x11
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0), libx11-dev, gcc
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net/alt/mate-panel-control
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/mate-panel-control

Package: mate-panel-control
Architecture: any
Depends:
    mate-panel,
    ${misc:Depends}
Description: MATE panel control commands.
    This package contains commands to show the Run Dialog and Main Menu.
