Source: x509utils
Section: admin
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/security/x509utils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/crypt/x509utils

Package: x509utils
Architecture: all
Depends:
    bash-shlib,
    ini-utils,
    make,
    openssl
Suggests: java-sdk
Description: Lenik's key chain and utilities
    This is obsolete.
