Source: jsrcutils
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/java/jsrcutils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/java/jsrcutils

Package: jsrcutils
Architecture: all
Depends:
    ${misc:Depends}
Description: Java source file utilities.
  Includes:
    linefix, etc.
