Source: dejar
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/java/dejar
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/java/dejar

Package: dejar
Architecture: all
Depends:
    bash-shlib,
    coolutils,
    fastjar | java2-jdk,
    jad,
    ${misc:Depends}
Description: Lenik's JDK utilities
