Source: truecrypt-enh
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7), wget-enh
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/truecrypt-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/toolenh/truecrypt-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk/toolenh/truecrypt-enh

Package: truecrypt-enh
Provides: cooltruecrypt, truecrypt
Architecture: all
Depends:
    bash-shlib,
    configutils,
    more-loops,
    ${misc:Depends}
Description: TrueCrypt integration utilities.
    This package requires TrueCrypt.
    Install it from:
