Source: truecrypt-enh
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13), wget-enh
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/toolenh/truecrypt-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/truecrypt-enh

Package: truecrypt-enh
Provides: cooltruecrypt, truecrypt
Architecture: all
Depends:
    bash-shlib,
    configutils,
    more-loops,
    ${misc:Depends}
Description: TrueCrypt integration utilities.
    This package requires TrueCrypt.
    Install it from:
