Source: pgadmin3-pref-xjl
Section: database
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net/pref-xjl/pgadmin3-pref-xjl
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-xjl/pgadmin3-pref-xjl

Package: pgadmin3-pref-xjl
Architecture: all
Depends:
    pgadmin3,
    ${misc:Depends}
Description: pgadmin3 preferences for xjl.
    Provided a cyan/pink color style for SQL scratchpad.
