Source: pgadmin3-pref-xjl
Section: database
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/pref-xjl/pgadmin3-pref-xjl
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/pref-xjl/pgadmin3-pref-xjl
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/pref-xjl/pgadmin3-pref-xjl

Package: pgadmin3-pref-xjl
Architecture: all
Depends:
    pgadmin3,
    ${misc:Depends}
Description: pgadmin3 preferences for xjl.
    Provided a cyan/pink color style for SQL scratchpad.
