Source: cls-remotes
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-cls/cls-remotes
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-cls/cls-remotes

Package: cls-remotes
Architecture: all
Depends:
    bash-enh,
    rdesktop,
    ${misc:Depends}
Description: CLS remote desktops
