Source: lingoes
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://
#Vcs-Git: git://git.debian.org/collab-maint/lingoes.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/lingoes.git;a=summary

Package: lingoes
Architecture: all
Depends: wine,
    winetricks-comctl32,
    winetricks-comctl32-ocx,
    winetricks-gdiplus,
    winetricks-gecko,
    winetricks-hosts,
    winetricks-msxml3,
    winetricks-riched20,
    winetricks-riched30,
    winetricks-vcrun6,
    winetricks-vcrun2005,
    winetricks-vcrun2008,
    winetricks-ie6
Description: Lingoes dict and translator
    See also: http://www.docin.com/p-44620337.html
