Source: cooltask
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/utils/cooltask
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/cooltask

Package: cooltask
Architecture: all
Depends:
    bash-shlib,
    bash-alias,
    ${misc:Depends}
Description: Helper utitilities for task switching and logs
