Source: symlinkutils
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage:

Package: symlinkutils
Architecture: all
Depends: bash-shlib
Description: Utilities for analyse symbolic links
