Source: cdu-bodz-svn
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/integration-cdu/cdu-bodz-svn
Vcs-SVN: http://svn.bodz.net/uni/trunk/integration-cdu/cdu-bodz-svn
Vcs-Browser: http://trac.bodz.net/projects/bodz/browser/uni/trunk/integration-cdu/cdu-bodz-svn

Package: cdu-bodz-svn
Architecture: all
Depends: apache2-enh, cdu-bodz-vol-dev
Description: boDz SVN Service
