Source: libjs-zingtouch
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://uni.bodz.net/alt/libjs-zingtouch
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libjs-zingtouch

Package: libjs-zingtouch
Architecture: all
Depends: 
    ${misc:Depends}
Description: A modern JavaScript touch gesture library.
    The library allows developers to configure pre-existing gestures 
    as well as create their own using ZingTouch's life cycle.

