Source: cwdex
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.8
Homepage: http://uni.bodz.net/util/cwdex
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/cwdex

Package: cwdex
Architecture: all
Depends:
    bash-alias,
    bash-completion,
    bash-shlib,
    ${misc:Depends}
Description: Directory as an shell environment.
