Source: xjl-xmlutils
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-xmlutils

Package: xjl-xmlutils
Architecture: all
Depends: xalan, xsltproc, xjl-bash-shlib, xmlindent, xjl-configutils
Description: Simple XML utilities
