Source: shelj
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/java/shelj
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/java/shelj
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/java/shelj

Package: shelj
Architecture: all
Depends: java-runtime
Description: A Java Shell with Maven support.
