Source: shelj
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/java/shelj
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/java/shelj

Package: shelj
Architecture: all
Depends:
    java-runtime,
    ${misc:Depends}
Description: A Java Shell with Maven support.
