Source: cdu-bodz-deb
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/devel/cdu-bodz-deb
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-bodz/cdu-bodz-deb

Package: cdu-bodz-deb
Architecture: all
Depends:
    apache2,
    mini-dinstall,
    ${misc:Depends}
Recommends:
    dnotify,
    inotify-tools
Description: Server configuration for deb.bodz.net.
