Source: coolhex
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/utils/coolhex
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/coolhex

Package: coolhex
Provides: coolhex
Architecture: any
Depends:
    bash-enh,
    diff | diffutils,
    patch,
    ${shlibs:Depends},
    ${misc:Depends}
Description: Hex utilities by Lenik.
