Source: cooldiff
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/text/cooldiff
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/text/cooldiff

Package: cooldiff
Provides: cooldiff
Architecture: all
Depends:
    diff | diffutils,
    perl,
    ${misc:Depends}
Description: Diff utilities
