Source: cooldiff
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/text/cooldiff
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/text/cooldiff
Vcs-Browser: http://svn.bodz.net/uni/trunk/text/cooldiff

Package: cooldiff
Provides: cooldiff
Architecture: all
Depends: diff | diffutils, perl
Description: Diff utilities
