Source: whoare
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/net/whoare
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/net/whoare
Vcs-Browser: http://svn.bodz.net/uni/trunk/net/whoare

Package: whoare
Architecture: all
Depends: perl, libcmt-perl
Description: Whois for batch query
