Source: cls-adslutils
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/pref-cls/cls-adslutils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-cls/cls-adslutils

Package: cls-adslutils
Architecture: all
Depends:
    net-tools,
    usecode,
    ${misc:Depends}
Description: Utilities for Home LAN ADSL.
