Source: eplutils
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/util/eplutils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/eplutils

Package: eplutils
Architecture: all
Depends: 
    bash-shlib,
    gcc,
    grep,
    imagemagick,
    sed,
    vim-common,
    ${misc:Depends}
Description: Tools for creating printing documents in Zebra EPL.
