Source: coolset
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-cool

Package: coolset-admin
Architecture: all
Description: Lenik's cool admin tools.
    This package brings Lenik's cool admin tools to you.
Recommends:
    coolrpm,
    debinst,
    extundelete,
    ms-sys,
    netcaps,
    router-vendor-utils

Package: coolset-base
Architecture: all
Description: Lenik's cool base tools.
    This package brings Lenik's cool base tools to you.
Recommends:
    bash-alias,
    bash-ex,
    bash-shlib,
    configutils,
    grub-enh,
    isz-tool,
    locale-setup,
    more-loops

Package: coolset-gui
Architecture: all
Description: Lenik's cool gui tools.
    This package brings Lenik's cool gui tools to you.
Recommends:
    empathy-enh,
    gnome-pref-xjl,
    imgauto,
    svn-enh-gui

Package: coolset-java
Architecture: all
Description: Lenik's cool java tools.
    This package brings Lenik's cool java tools to you.
Recommends:
    astah-local,
    coolmaven,
    dejar,
    eclipse-enh,
    jad,
    jdk8-local,
    jetty8-enh,
    libuni-java,
    mjpl,
    shelj

Package: coolset-text
Architecture: all
Description: Lenik's cool text tools.
    This package brings Lenik's cool text tools to you.
Recommends:
    coolpdf,
    coolspec,
    cooltex,
    texlive-local,
    z-latex

Package: coolset-util
Architecture: all
Description: Lenik's cool util tools.
    This package brings Lenik's cool util tools to you.
Recommends:
    2tree,
    ai-utils,
    apache2-enh,
    apt-enh,
    ascgen,
    cdtree,
    coolcmd,
    cooldiff,
    coolhex,
    coollog,
    cooltask,
    cooltext,
    coolutils,
    diskutils,
    dltools,
    do-mount,
    dprog,
    err-demux,
    filestats,
    fileutils-xjl,
    git-enh,
    gpg-enh,
    grepl,
    ini-utils,
    laxar,
    lddd,
    mkchm,
    mksize,
    mountfile,
    msync,
    nameutils,
    pingmon,
    python-enh,
    regf2t,
    repl,
    rrdtool-enh,
    rsync-rrc,
    sqlite-enh,
    svn2cl-enh,
    svn-enh,
    symlinkutils,
    textcodecs,
    truecrypt-enh,
    tty-fx,
    usecode,
    vcscmds,
    vexmount,
    vim-enh,
    whoare,
    x509utils,
    xmlproc,
    ziputils

Package: coolset-vcs
Architecture: all
Description: Lenik's cool vcs tools.
    This package brings Lenik's cool vcs tools to you.
Recommends:

Package: coolset-w32
Architecture: all
Description: Lenik's cool w32 tools.
    This package brings Lenik's cool w32 tools to you.
Recommends:
    wine-enh

Package: coolset-x11
Architecture: all
Description: Lenik's cool x11 tools.
    This package brings Lenik's cool x11 tools to you.
Recommends:
    coolclip,
    desktoputils,
    x11-pref-xjl

