Source: coolset
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-cool

Package: coolset-admin
Architecture: all
Description: Lenik's cool admin tools.
    This package brings Lenik's cool admin tools to you.
Recommends:
    coolrpm,
    debinst,
    extundelete,
    ms-sys,
    netcaps,
    router-vendor-utils

Package: coolset-base
Architecture: all
Description: Lenik's cool base tools.
    This package brings Lenik's cool base tools to you.
Recommends:
    bash-alias,
    bash-ex,
    bash-shlib,
    configutils,
    grub-enh,
    isz-tool,
    locale-setup,
    more-loops

Package: coolset-database
Architecture: all
Description: Lenik's cool database tools.
    This package brings Lenik's cool database tools to you.
Recommends:

Package: coolset-debug
Architecture: all
Description: Lenik's cool debug tools.
    This package brings Lenik's cool debug tools to you.
Recommends:

Package: coolset-devel
Architecture: all
Description: Lenik's cool devel tools.
    This package brings Lenik's cool devel tools to you.
Recommends:
    coolmake,
    coolqt,
    db-utils-xjl,
    emacs-pref-xjl,
    gcc-enh,
    libcmt-perl,
    libcpf,
    libdog-dev,
    libm4-xjl,
    php-site-utils,
    repos-styles,
    x-tools-local

Package: coolset-doc
Architecture: all
Description: Lenik's cool doc tools.
    This package brings Lenik's cool doc tools to you.
Recommends:

Package: coolset-fonts
Architecture: all
Description: Lenik's cool fonts tools.
    This package brings Lenik's cool fonts tools to you.
Recommends:

Package: coolset-gnome
Architecture: all
Description: Lenik's cool gnome tools.
    This package brings Lenik's cool gnome tools to you.
Recommends:

Package: coolset-graphics
Architecture: all
Description: Lenik's cool graphics tools.
    This package brings Lenik's cool graphics tools to you.
Recommends:

Package: coolset-interpreters
Architecture: all
Description: Lenik's cool interpreters tools.
    This package brings Lenik's cool interpreters tools to you.
Recommends:

Package: coolset-java
Architecture: all
Description: Lenik's cool java tools.
    This package brings Lenik's cool java tools to you.
Recommends:
    astah-local,
    coolmaven,
    dejar,
    eclipse-enh,
    jad,
    jdk8-local,
    jetty8-enh,
    libuni-java,
    mjpl,
    shelj

Package: coolset-javascript
Architecture: all
Description: Lenik's cool javascript tools.
    This package brings Lenik's cool javascript tools to you.
Recommends:

Package: coolset-kernel
Architecture: all
Description: Lenik's cool kernel tools.
    This package brings Lenik's cool kernel tools to you.
Recommends:

Package: coolset-libdevel
Architecture: all
Description: Lenik's cool libdevel tools.
    This package brings Lenik's cool libdevel tools to you.
Recommends:

Package: coolset-libs
Architecture: all
Description: Lenik's cool libs tools.
    This package brings Lenik's cool libs tools to you.
Recommends:

Package: coolset-misc
Architecture: all
Description: Lenik's cool misc tools.
    This package brings Lenik's cool misc tools to you.
Recommends:
    amiutils,
    ec2-bind,
    opt-alternatives-pref-xjl,
    pgadmin3-pref-xjl,
    pgputils,
    pinyin-pref-xjl,
    sources-pref-xjl,
    sox-enh,
    virtualbox-enh,
    yapp-enh

Package: coolset-net
Architecture: all
Description: Lenik's cool net tools.
    This package brings Lenik's cool net tools to you.
Recommends:
    sshproxy-z

Package: coolset-php
Architecture: all
Description: Lenik's cool php tools.
    This package brings Lenik's cool php tools to you.
Recommends:

Package: coolset-python
Architecture: all
Description: Lenik's cool python tools.
    This package brings Lenik's cool python tools to you.
Recommends:

Package: coolset-shells
Architecture: all
Description: Lenik's cool shells tools.
    This package brings Lenik's cool shells tools to you.
Recommends:

Package: coolset-sound
Architecture: all
Description: Lenik's cool sound tools.
    This package brings Lenik's cool sound tools to you.
Recommends:

Package: coolset-tex
Architecture: all
Description: Lenik's cool tex tools.
    This package brings Lenik's cool tex tools to you.
Recommends:
    coolpdf,
    coolspec,
    cooltex,
    texlive-local,
    z-latex

Package: coolset-text
Architecture: all
Description: Lenik's cool text tools.
    This package brings Lenik's cool text tools to you.
Recommends:
    coolpdf,
    coolspec,
    cooltex,
    texlive-local,
    z-latex

Package: coolset-utils
Architecture: all
Description: Lenik's cool utils tools.
    This package brings Lenik's cool utils tools to you.
Recommends:

Package: coolset-vcs
Architecture: all
Description: Lenik's cool vcs tools.
    This package brings Lenik's cool vcs tools to you.
Recommends:

Package: coolset-video
Architecture: all
Description: Lenik's cool video tools.
    This package brings Lenik's cool video tools to you.
Recommends:

Package: coolset-web
Architecture: all
Description: Lenik's cool web tools.
    This package brings Lenik's cool web tools to you.
Recommends:

Package: coolset-x11
Architecture: all
Description: Lenik's cool x11 tools.
    This package brings Lenik's cool x11 tools to you.
Recommends:
    coolclip,
    desktoputils,
    x11-pref-xjl

