Source: xjl-dejar
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-dejar

Package: xjl-dejar
Architecture: all
Depends: java2-jdk, xjl-bash-shlib, jad, xjl-coolutils
Description: Lenik's JDK utilities
