area:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: Tahoma, Arial, Liberation Sans, DejaVu Sans, sans-serif;
}

dd {
    padding-bottom: 0.5em;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

#changelog {
    
}

#changelog .author {
    font-weight: bold;
}

#changelog .date {
    font-style: italic;
}

#changelog .minor {
    font-style: italic;
    opacity: 0.5;
}

#changelog a {
    text-decoration: none;
}

.copyright {
    text-align: center;
    font-style: italic;
    height: 7em;
}

h1+.description {
    font-size: large;
    text-indent: 2em;
}

.description ul {
    margin-left: 2em;
    text-indent: 0;
}

.letter-box {
    width: 48px;
    height: 48px;
    float: left;
    border: solid 1px;
    margin-right: 16px;
    font-family: serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
}

.letter-box~div {
    margin-left: 64px;
}

hr.line {
    margin: 0;
    height: 4px;
    border: none;
    background-color: #ccccff;
}

div.project a.download {
    display: list-item;
    list-style-position: inside;
    list-style-image: url("img/project.png");
}

.prj-icon-large {
    width: 100px;
    height: 100px;
    float: right;
    border: solid 1px;
    font-family: serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
}

.prj-icon-large a {
    color: inherit;
    text-decoration: none;
}

.prj-stat {
    font-size: small;
    letter-spacing: 0.4em;
    margin-left: 2em;
}

.prj-stat span {
    letter-spacing: 0.1em;
}

.project .panel {
    margin: 1em 0;
    border: dashed 1px blue;
}

.side-bar {
    margin: .5em 0 0 0;
    float: right;
}

.side-box {
    width: 10em;
    margin-bottom: 1em;
}

ul.ui-enum {
    padding-left: 0;
}

ul.ui-enum li {
    list-style: none;
    display: inline;
    white-space: nowrap;
    margin-right: .5em;
    padding: .2em;
    line-height: 2em;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}

ul.ui-enum li.ui-active {
    border-style: dashed;
    font-weight: bold;
    font-style: italic;
}

ul.ui-enum li a {
    text-decoration: none;
}

.ui-caption {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin: 0 0 .3em 0;
    text-indent: 1em;
}

.ui-hidden {
    visibility: hidden;
}

.ui-menubar {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.ui-menubox {
    display: none;
    max-width: 20em;
    overflow: hidden;
    margin: 0;
    padding: 0 0 0.5em 0;
    border-style: solid;
    border-width: 2px;
    border-radius: 0 10px 10px;
    box-shadow: 3px 3px 8px;
    list-style: none;
}

.ui-menubox>li {
    margin: 0 1em .2em 3em;
}

.uni-section {
    margin-bottom: 2em;
}

dl.uni-projects {
    border-radius: 1em;
    margin: .5em 1em;
    column-width: 20em;
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
    border-style: dotted;
    border-width: 2px;
}

dl.uni-projects dt {
    font-family: monospace, courier;
    font-weight: bold;
    display: list-item;
    list-style-position: inside;
    list-style-image: url("img/project.png");
}

.uni-project {
    margin: 0 1em 2em;
}

#toolbox {
    width: 100px;
    height: 24px;
    color: hsla(0, 100%, 100%, 0);
}

#main {
    margin: 0 1em;
}

#navbar {
    width: 100%;
    height: 1em;
    padding: 0.5em 1em;
}