Source: nameutils
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/net/nameutils
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/net/nameutils
Vcs-Browser: http://svn.bodz.net/uni/trunk/net/nameutils

Package: nameutils
Architecture: all
Depends: perl, dnsutils
Description: Network utilities
