Source: nameutils
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/net/nameutils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/net/nameutils

Package: nameutils
Architecture: all
Depends:
    dnsutils,
    perl,
    ${misc:Depends}
Description: Network utilities
