Source: libjs-jquery-inputmask
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/libjs-jquery-inputmask
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libjs-jquery-inputmask

Package: libjs-jquery-inputmask
Architecture: all
Depends: 
    libjs-jquery,
    ${misc:Depends}
Description: jquery.inputmask is a jQuery plugin which create an input mask.
    An inputmask helps the user with the input by ensuring a predefined format. This
     can be useful for dates, numerics, phone numbers, ...
    Highlights:
    - easy to use
    - optional parts anywere in the mask
    - possibility to define aliases which hide complexity
    - date / datetime masks
    - numeric masks
    - lots of callbacks
    - non-greedy masks
    - many features can be enabled/disabled/configured by options
    - supports readonly/disabled/dir="rtl" attributes
    - support data-inputmask attribute(s)  
    - alternator-mask support
    - regex-mask support
    - dynamic-mask support
    - preprocessing-mask support
    - value formatting / validating without input element
    - AMD support
    Demo page see http://robinherbots.github.io/jquery.inputmask

