Source: coollog
Section: python
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/utils/coollog
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/coollog

Package: coollog
Architecture: all
Depends:
    python,
    ${misc:Depends}
Description: Lenik's Cool CLI Log
