Source: cls-hosts
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/pref-cls/cls-hosts
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-cls/cls-hosts

Package: cls-hosts
Architecture: all
Depends:
    ${misc:Depends}
Description: Lenik's aliases for hosts
