Source: cls-hosts
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-cls/cls-hosts
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/pref-cls/cls-hosts
Vcs-Browser: http://svn.bodz.net/uni/trunk/pref-cls/cls-hosts

Package: cls-hosts
Architecture: all
Depends: ${misc:Depends}
Description: Lenik's aliases for hosts
