Source: coolgen
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/devel/coolgen
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/devel/coolgen
Vcs-Browser: http://svn.bodz.net/uni/trunk/devel/coolgen

Package: coolgen
Provides: coolgen
Architecture: all
Depends: perl, libcmt-perl
Recommends: coolutils
Description: A simple cool script generator
