Source: mkchm
Section: doc
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/text/mkchm
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/text/mkchm

Package: mkchm
Architecture: all
Depends:
    libchm1,
    libchm-bin,
    libcmt-perl,
    perl,
    ${misc:Depends}
#    libarchive-chm-perl,
#    libtext-chm-perl,
Description: CHM utilities based on libchm for Debian
