Source: mkchm
Section: doc
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/text/mkchm
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/text/mkchm
Vcs-Browser: http://svn.bodz.net/uni/trunk/text/mkchm

Package: mkchm
Architecture: all
Depends: libcmt-perl, libchm-bin, libchm1
# libarchive-chm-perl, libtext-chm-perl
Description: CHM utilities based on libchm for Debian
