Source: libjs-jquery-bigvideo
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/libjs-jquery-bigvideo
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libjs-jquery-bigvideo

Package: libjs-jquery-bigvideo
Architecture: all
Depends: 
    libjs-jquery,
    ${misc:Depends}
Description: THE JQUERY PLUGIN FOR BIG BACKGROUND VIDEO (AND IMAGES)
    This plugin makes it easy to add fit-to-fill background video to websites. It can play silent ambient background video (or series of videos). Or use it as a player to show video playlist. BigVideo.js can also show big background images, which is nice to have for showing big background images for devices that don’t have autoplay for ambient video.

    BigVideo.js is built on top of Video.js from zencoder. So big thanks to them!

    You can read about how to use BigVideo.js below. Also, check out the tutorial I wrote for Codrops.

