Source: filestats
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/util/filestats
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/util/filestats
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/util/filestats

Package: filestats
Architecture: all
Depends: bash-shlib, bash-aliases, file, grep
Description: File stats.
