Source: git-enh
Section: vcs
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/toolenh/git-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/git-enh

Package: git-enh
Architecture: all
Depends:
    git,
    ${misc:Depends}
Recommends:
    rrdtool-enh
Description: Git shortcuts & Switcher
