Source: cdu-bodz-m2-settings
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/integration-cdu/cdu-bodz-m2-settings
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-bodz/cdu-bodz-m2-settings

Package: cdu-bodz-m2-settings
Architecture: all
Depends:
    maven2 | maven,
    ${misc:Depends}
Description: M2 settings.xml for m2.local.
