Source: confbot
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.1
Homepage: http://uni.bodz.net/alt/confbot
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/confbot

Package: confbot
Architecture: all
Depends:
    python,
    ${misc:Depends}
Description: Conference Bot for Jabber IM (Google talk)
