Source: usecode
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/security/usecode
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/crypt/usecode

Package: usecode
Architecture: all
Depends:
    libcmt-perl,
    perl,
    xsel,
    ${misc:Depends}
Recommends:
    tty-fx
Description: Lenik's security utilities
