Source: patchbuild
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/package/patchbuild
Vcs-SVN: http://svn.bodz.net/uni/trunk/package/patchbuild
Vcs-Browser: http://trac.bodz.net/projects/bodz/browser/uni/trunk/package/patchbuild

Package: patchbuild
Architecture: all
Depends: cooldeb, dpkg-dev, apt, aptitude, dput
Description: Rebuild debian package with automatic personal patch management.
