Source: visualcss
Section: web
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/web/visualcss
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/web/visualcss

Package: visualcss
Architecture: all
Depends: ${misc:Depends}
Description: A tool for creating CSS visually.
    So you can edit CSS files with WYSIWYG previews.
