Source: libbas-d-dev
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Section: libs
Homepage: http://uni.bodz.net/lib/libbas-d-dev
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/lib/libbas-d-dev

Package: libbas-d-dev
Section: libs
Architecture: any
Depends: 
    ${shlibs:Depends}, 
    ${misc:Depends}
Description: BAS framework for D language.
