Source: cdu-bodz
Section: web
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/cdu-bodz

Package: cdu-bodz
Architecture: all
Depends: xjl-coolusers, cdu-bodz-base,
    cdu-bodz-svn, cdu-bodz-trac,
    cdu-bodz-m2, cdu-bodz-ci
Description: boDz develop sites
