Source: vim-enh
Section: text
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/vim-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/vim-enh

Package: vim-enh
Provides: coolvim
Architecture: any
Depends:
    bash-shlib,
    bash-alias,
    grep,
    sudo,
    vim | vim-tiny,
    ${misc:Depends}
Description: Lenik's vim enhancement.
