Source: vim-enh
Section: text
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/vim-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/toolenh/vim-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk/toolenh/vim-enh

Package: vim-enh
Provides: coolvim
Architecture: any
Depends: bash-shlib, bash-aliases, vim-tiny, grep, sudo
Description: Lenik's vim enhancement.
