Source: cools-term
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-cool

Package: cools-term
Provides: cools-term
Architecture: all
Description: Lenik's cool terminal tools set.
Recommends:
    coolapt,
    autover,
    bash-aliases,
    bash-shlib,
    cdtree,
    configutils,
    coolansi,
    coolauto,
    bash-enh,
    xjl-coolcaps,
    mkchm,
    coolcmd,
    diffcat,
    bind-pref-xjl,
    esperanto-dict,
    coolgen,
    git-enh,
    gpg-enh,
    grub-enh,
    coolhex,
    coolldap,
    coollog,
    coolmake,
    php-site-utils,
    python-enh,
    sox-enh,
    coolspec,
    ssh-enh,
    svn-enh,
    msync,
    cooltext,
    users-pref-xjl,
    coolutils,
    virtualbox-enh,
    vim-enh,
    wget-enh,
    wine-enh,
    coolz,
    grepl,
    ini-utils,
    fileutils-xjl,
    vexmount,
    laxar,
    libcmt-perl,
    libm4-xjl,
    nameutils,
    whichm,
    usecode,
    sshproxy-z,
    2tree,
    whoare,
    x509utils,
    xmlutils,
    yapp-enh
