Source: coolldap
Section: net
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/devel/coolldap
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/devel/coolldap

Package: coolldap
Architecture: all
Depends:
    bash-shlib,
    ldap-utils,
    ${misc:Depends}
Recommends:
    slapd
Description: OpenLDAP configs and utilities.
