Source: coolrpm
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/packaging/coolrpm
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/packaging/coolrpm

Package: coolrpm
Architecture: all
Depends: 
    rpm,
    ${misc:Depends}
Description: Tools for creating RPM package.
