Source: patchbuild
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/package/patchbuild
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/packaging/patchbuild

Package: patchbuild
Architecture: all
Depends:
    apt,
    aptitude,
    cooldeb,
    dpkg-dev,
    dput,
    ${misc:Depends}
Description: Rebuild debian package with automatic personal patch management.
