Source: photoutil
Section: graphics
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.2
Homepage: http://uni.bodz.net/graphics/photoutil
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/graphics/photoutil

Package: photoutil
Architecture: all
Depends:
    bash-shlib,
    ${misc:Depends},
Description: Photo / DigitalCam files utilities.
