Source: dprog
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net/devel/dprog
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/devel/dprog

Package: dprog
Architecture: all
Depends:
    bash-shlib,
    dmd | gdc | ldc,
    ${misc:Depends}
Description: D language develop tools
    dprog includes utilities for development with Digital Mars D language.
