Source: wgetc
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/net/wgetc
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/net/wgetc

Package: wgetc
Architecture: all
Depends:
    axel,
    wget,
    ${misc:Depends}
Description: Download with caching.
