Source: cdu-bodz-uni
Section: web
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/integration-cdu/cdu-bodz-uni
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-bodz/cdu-bodz-uni

Package: cdu-bodz-uni
Architecture: all
Depends:
    apache2,
    bash-enh,
    inoticoming,
    reprepro,
    ${misc:Depends}
Description: uni Debian Server
    This package provide uni-Debian related services.
