Source: xjl-keychain
Section: admin
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/security/x509utils
Vcs-SVN: http://svn.bodz.net/uni/trunk/security/x509utils
Vcs-Browser: http://trac.bodz.net/projects/bodz/browser/uni/trunk/security/x509utils

Package: xjl-keychain
Architecture: all
Depends: ${misc:Depends}
Description: Lenik's key chain and utilities
    This is obsolete.
