Source: coolauto
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/devel/coolauto
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/devel/coolauto

Package: coolauto
Provides: coolauto
Architecture: all
Depends:
    autoconf,
    automake,
    autover,
    bash-shlib,
    help2man,
    libtool,
    make,
    ${misc:Depends}
Recommends:
    bash-alias
Description: Auto-tools helper and templates
