Source: coolauto
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/devel/coolauto
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/devel/coolauto
Vcs-Browser: http://svn.bodz.net/uni/trunk/devel/coolauto

Package: coolauto
Provides: coolauto
Architecture: all
Depends: make, automake, autoconf, libtool, autover, bash-shlib
Recommends: bash-aliases
Description: Auto-tools helper and templates
