Source: apt-enh
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/utils/apt-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/utils/apt-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk/utils/apt-enh

Package: apt-enh
Provides: aptutils
Architecture: all
Depends:
    apt,
    aptitude,
    bash-alias,
    bash-shlib,
    csvtool,
    dpkg,
    ${misc:Depends}
Description: Aptitude packages utilities
