Source: apt-enh
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/utils/apt-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/apt-enh

Package: apt-enh
Provides: aptutils
Architecture: all
Depends:
    apt,
    aptitude,
    bash-alias,
    bash-shlib,
    csvtool,
    dpkg,
    ${misc:Depends}
Description: Aptitude packages utilities
