Source: pgputils
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/crypt/pgputils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/crypt/pgputils

Package: pgputils
Architecture: all
Depends:
    ${misc:Depends}
Description: PGP related utils.
    Tools used for PGP, PGP disk images.
