Source: opt-alternatives-pref-xjl
Section: misc
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/pref-xjl/opt-alternatives-pref-xjl
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-xjl/opt-alternatives-pref-xjl

Package: opt-alternatives-pref-xjl
Architecture: all
Depends:
    autover,
    dpkg,
    ${misc:Depends}
Description: Lenik's optional alternatives
