Source: coolpdf
Section: text
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/utils/coolpdf
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/utils/coolpdf
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/utils/coolpdf

Package: coolpdf
Architecture: all
Depends:
    ${misc:Depends}
Description: PDF file process utils.
  Includes:
    pdfcrop, pdfrepair, etc.
