Source: elasticsearch-enh
Section: web
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/toolenh/elasticsearch-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/elasticsearch-enh

Package: elasticsearch-enh
Architecture: all
Depends:
    bash-shlib,
    catme,
    elasticsearch,
    ${misc:Depends}
Description: ElasticSearch maintaince utilities.
