Source: xjl-cool
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-cool

Package: xjl-cool
Architecture: all
Depends: ${misc:Depends}, xjl-coolusers,
    xjl-autover,
    xjl-bash-shlib,
    xjl-bash-aliases,
    xjl-configutils,
    xjl-coolansi,
    xjl-coolauto,
    xjl-coolbash,
    xjl-coolcmd,
    xjl-cooldeb,
    xjl-cooldns,
    xjl-coolemacs,
    xjl-coolgpg,
    xjl-coolhex,
    xjl-coolmake,
    xjl-coolman,
    xjl-coolmaven,
    xjl-coolspec,
    xjl-coolsvn,
    xjl-coolsync,
    xjl-cooltex,
    xjl-cooltext,
    xjl-cooltruecrypt,
    xjl-coolutils,
    xjl-coolwget,
    xjl-coolvim,
    xjl-coolz,
    xjl-coretext,
    xjl-fileutils,
    xjl-fsutils,
    xjl-libcmt,
    xjl-libm4,
    xjl-libmisc,
    xjl-security,
    xjl-sshproxy
Description: Lenik's Cool Metapackage.
