Source: coolmaven
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7), xmlutils
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/java/coolmaven
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/java/coolmaven
Vcs-Browser: http://svn.bodz.net/uni/trunk/java/coolmaven

Package: coolmaven
Provides: coolmaven
Architecture: all
Depends: bash-aliases, tty-fx, svn-enh, maven2 | maven, xml2, grep, wget,
    xmlutils, xmlindent, configutils, graphviz
Description: Lenik's Maven utils
