Source: coolmaven
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7), xmlutils
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/java/coolmaven
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/java/coolmaven
Vcs-Browser: http://svn.bodz.net/uni/trunk/java/coolmaven

Package: coolmaven
Provides: coolmaven
Architecture: any
Depends:
    bash-aliases,
    configutils,
    graphviz,
    grep,
    maven2 | maven,
    svn-enh,
    tty-fx,
    xml2,
    xmlindent,
    xmlutils,
    wget,
    ${misc:Depends}
Description: Lenik's Maven utils
