Source: cdtree
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/utils/cdtree
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/cdtree

Package: cdtree
Provides: cdtree
Architecture: all
Depends:
    bash-alias,
    bash-shlib,
    sed,
    tree,
    tty-fx,
    ${misc:Depends}
Description: Chdir into complex directory tree
