Source: bind-pref-xjl
Section: net
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-xjl/bind-pref-xjl
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/pref-xjl/bind-pref-xjl
Vcs-Browser: http://svn.bodz.net/uni/trunk/pref-xjl/bind-pref-xjl

Package: bind-pref-xjl
Provides: cooldns
Architecture: all
Depends:
    bind9,
    bind9utils,
    coolutils,
    ${misc:Depends}
Description: BIND utils and distrib conf management.
