Source: coolldap
Section: net
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/coolldap

Package: coolldap
Architecture: all
Depends: bash-shlib, ldap-utils
Description: OpenLDAP configs and utilities.
