Source: cls-vbox-clsvm
Section: misc
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/pref-cls/cls-vbox-clsvm
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/pref-cls/cls-vbox-clsvm
Vcs-Browser: http://svn.bodz.net/uni/trunk/pref-cls/cls-vbox-clsvm

Package: cls-vbox-clsvm
Architecture: all
Depends:
    bash-shlib,
    libfile-spec-perl,
    perl,
    virtualbox | virtualbox-ose,
    virtualbox-enh,
    ${misc:Depends}
Description: [Virtual Box] Windows SP3 with CLS Profile
