Source: extundelete
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~), e2fslibs-dev
Standards-Version: 3.9.1
Homepage: http://extundelete.sourceforge.net/
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/alt/extundelete
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/alt/extundelete

Package: extundelete
Architecture: any
Depends:
    e2fslibs,
    ${misc:Depends}
Description: extundelete is a utility that can recover deleted files from an ext3 or ext4 partition.
    The ext3 file system is the most common file system when using Linux, and
    ext4 is its successor. extundelete uses the information stored in the
    partition's journal to attempt to recover a file that has been deleted from
    the partition. There is no guarantee that any particular file will be able
    to be undeleted, so always try to have a good backup system in place, or at
    least put one in place after recovering your files!
