Source: cooldeb
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/package/cooldeb
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/package/cooldeb
Vcs-Browser: http://svn.bodz.net/uni/trunk/package/cooldeb

Package: cooldeb
Provides: cooldeb
Architecture: all
Depends:
    bash-shlib,
    coolapt,
    coolmake,
    debhelper,
    devscripts,
    dh-make,
    dput,
    gnupg,
    gnupg-agent,
    vcscmds,
    ${misc:Depends}
Description: Debian package by very clean manner.
