Source: xjl-coolsvn
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-coolsvn

Package: xjl-coolsvn
Architecture: all
Depends: xjl-bash-shlib, subversion, meld, tkdiff, kdiff3
Recommends: xjl-bash-aliases
Description: Lenik's SVN utilities.
