Source: cdu-bodz-svn
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/integration-cdu/cdu-bodz-svn
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-bodz/cdu-bodz-svn

Package: cdu-bodz-svn
Architecture: all
Depends:
    apache2-enh,
    libapache2-svn,
    repos-styles,
    subversion,
    xinetd,
    ${misc:Depends}
Suggests:
    cdu-bodz-vol-dev
Description: boDz SVN Service
