Source: coolmaven
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7), xmlutils
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/coolmaven

Package: coolmaven
Provides: coolmaven
Architecture: all
Depends: bash-aliases, coolansi, svn-enh, maven2, xml2, grep, wget,
    xmlutils, xmlindent, configutils, graphviz
Description: Lenik's Maven utils
