Source: diffcat
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/text/diffcat
Vcs-SVN: http://svn.bodz.net/uni/trunk/text/diffcat
Vcs-Browser: http://trac.bodz.net/projects/bodz/browser/uni/trunk/text/diffcat

Package: diffcat
Provides: cooldiff
Architecture: all
Depends: diff | diffutils, perl
Description: Diff utilities
