Source: shendun-ef
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0), libbas-c, libglib2.0-0
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/hack/shendun-ef
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/hack/shendun-ef
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/hack/shendun-ef

Package: shendun-ef
Architecture: any
Depends: libbas-c, execfilter, cron, wget, bash-shlib, wget
Description: Companion utils used with execfilter.
 Includes: config file codecs, remote config push/polls.
