Source: shendun-ef
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/hack/shendun-ef
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/hack/shendun-ef

Package: shendun-ef
Architecture: any
Depends: air, bash-shlib, cron, execfilter, hdparm, libbas-c, wget, udisks, 
    ${misc:Depends}
Description: Companion utils used with execfilter.
  Includes:
    config file codecs, remote config push/polls.

Package: shendun-ef-dbg
Architecture: any
Depends:
    execfilter-dbg,
    shendun-ef
Description: Debugging symbols for the shendun-ef extension.
  Includes:
    config file codecs, remote config push/polls.
