Source: dlocal
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/devel/dlocal
Vcs-SVN: http://svn.bodz.net/uni/trunk/devel/dlocal
Vcs-Browser: http://trac.bodz.net/projects/bodz/browser/uni/trunk/devel/dlocal

Package: dlocal
Architecture: all
Depends: dput, mini-dinstall, apache2, gnupg, gnupg-agent
Description: Local debian development support.
