Source: ntfsutils
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: http://uni.bodz.net/fs/ntfsutils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/fs/ntfsutils

Package: ntfsutils
Architecture: all
Depends:
    attr,
    bash-shlib,
    ${misc:Depends}
Description: Change file attibutes on an NTFS partition.

