Source: xmlproc
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/util/xmlproc
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/util/xmlproc
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/util/xmlproc

Package: xmlproc
Architecture: all
Depends:
    ${misc:Depends}
Description: XML CLI process tools.
  Includes:
    XMLEdit
    XMLFlat
