Source: xmlproc
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/util/xmlproc
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/xmlproc

Package: xmlproc
Architecture: all
Depends:
    ${misc:Depends}
Description: XML CLI process tools.
  Includes:
    XMLEdit
    XMLFlat
