Source: 2tree
Section: text
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~),
    bzip2, p7zip-full, tar, rar
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/utils/2tree
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/2tree

Package: 2tree
Architecture: all
Depends:
    bash-shlib,
    coolcmd,
    libcmt-perl,
    perl,
    ${misc:Depends}
Recommends:
    bzip2,
    p7zip,
    tar,
    unrar,
    unzip
Description: Tree/filesystem visualization
