Source: fileutils-xjl
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/utils/fileutils-xjl
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/fileutils-xjl

Package: fileutils-xjl
Architecture: all
Depends:
    bash-shlib,
    ${misc:Depends}
Description: File utilities.
