Source: syscon
Section: admin
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/admin/syscon
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/admin/syscon

Package: syscon
Architecture: all
Depends: 
    ${misc:Depends}
Recommends:
    ms-sys
Description: System maintainning console tools.
