archetypes
bash_completion.d/newmp
coolmvn
edit2
epom
get-common-prefix
git-m2ver
jetty
m2deploy
m2graph
m2help
m2install
m2installfile
m2layout
m2localdeps
m2localgraph
m2mkpkg
m2modlist
m2release
m2repo
m2rpn
m2search
m2search-nexus
m2which
mjava
newmod
newmp
pom-cascade
pomid
pomtree
