Source: continuum
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net//mnt/istore/projects/bodz/uni/alt/continuum
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/bodz/uni/alt/continuum
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/bodz/uni/alt/continuum

Package: continuum
Architecture: all
Depends:
    bash-shlib,
    configutils,
    jetty-pref-apache,
    wget-enh,
    ${misc:Depends}
Description: Apache Archiva run on Jetty server.
