Source: npm-enh
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/toolenh/npm-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/npm-enh

Package: npm-enh
Architecture: all
Depends: 
    bash-alias,
    bash-shlib,
    npm,
    ${misc:Depends}
Description: npm helpers

