Source: emacs-pref-xjl
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7), emacs-goodies-el
Build-ecommends: ibus-el
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-xjl/emacs-pref-xjl
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/pref-xjl/emacs-pref-xjl
Vcs-Browser: http://svn.bodz.net/uni/trunk/pref-xjl/emacs-pref-xjl

Package: emacs-pref-xjl
Architecture: all
Depends:
    emacs,
    emacs-goodies-el,
    ${misc:Depends}
Recommends:
    ibus-el
Description: Cool emacs helpers
