Source: amiutils
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/package/amiutils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/packaging/amiutils

Package: amiutils
Architecture: all
Depends:
    ec2-api-tools,
    ec2-ami-tools,
    ${misc:Depends}
Description: Amazon EC2 AMI support utilities & docs
