Source: emacs-pref-xjl
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-xjl/emacs-pref-xjl
Vcs-SVN: http://svn.bodz.net/uni/trunk/pref-xjl/emacs-pref-xjl
Vcs-Browser: http://trac.bodz.net/projects/bodz/browser/uni/trunk/pref-xjl/emacs-pref-xjl

Package: emacs-pref-xjl
Provides: coolemacs
Architecture: all
Depends: ${misc:Depends}, emacs
Description: Cool emacs helpers
