Source: tclock
Section: games
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Rules-Requires-Root: no
Build-Depends:
  libx11-dev,
  libxt-dev,
  libxft-dev,
  debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: http://uni.bodz.net/x11/tclock
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/x11/tclock

Package: tclock
Architecture: any
Depends:
  bash-shlib,
  libx11,
  libxt6,
  libxft2,
  ${shlibs:Depends},
  ${misc:Depends}
Description: Tiny Transparent Clock
