Source: libjs-jquery-wysiwyg-editor
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/libjs-jquery-wysiwyg-editor
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libjs-jquery-wysiwyg-editor

Package: libjs-jquery-wysiwyg-editor
Architecture: all
Depends: 
    libjs-jquery,
    ${misc:Depends}
Description: A beautiful jQuery WYSIWYG HTML text editor. 
    High performance and modern design make it easy to use for developers and loved by users.
