Source: mate-pref-xjl
Section: x11
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-xjl/mate-pref-xjl
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/pref-xjl/mate-pref-xjl
Vcs-Browser: http://svn.bodz.net/uni/trunk/pref-xjl/mate-pref-xjl

Package: mate-pref-xjl
Architecture: all
Depends: x11-xserver-utils, desktoputils, dconf-tools
Recommends: mate-desktop-environment, compizconfig-settings-manager
Suggests: compiz-plugins-extra
Description: Lenik's PC/X11 environment
