Source: coolgen
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/devel/coolgen
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/devel/coolgen

Package: coolgen
Provides: coolgen
Architecture: all
Depends:
    libcmt-perl,
    perl,
    ${misc:Depends}
Recommends:
    coolutils,
    libdog-dev
Description: A simple cool script generator
