Source: dltools
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/dltools
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/dltools

Package: dltools
Conflicts: wget-enh, wgetc, coolwget
Architecture: all
Depends:
    axel,
    bash-shlib,
    curl,
    grep,
    wget,
    ${misc:Depends}
Description: Wget with cache support, and other url-related utilities
