Source: sox-enh
Section: sound
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/toolenh/sox-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/sox-enh

Package: sox-enh
Architecture: all
Depends:
    lame,
    libsox-fmt-all,
    sox,
    ${misc:Depends}
Description: Sox-based audio utilities
