Source: cls-msync
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/pref-cls/cls-msync
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-cls/cls-msync

Package: cls-msync
Architecture: all
Depends:
    msync,
    rsync,
    ${misc:Depends}
Description: Msync configuration on CLS.
