Source: locale-setup
Section: text
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://uni.bodz.net/base/locale-setup
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/base/locale-setup

Package: locale-setup
Architecture: all
Depends:
    libc-bin,
    ${misc:Depends}
Description: Locale setups
    Locale init scripts
