Source: coolsql
Section: database
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net/database/coolsql
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/database/coolsql

Package: coolsql
Architecture: all
Depends:
    bash-shlib,
    ${misc:Depends}
Description: A virtual SQL frontend.
    coolsql allows you execute SQLs for various different database backends
    in the same way.
