Source: diskutils
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/utils/diskutils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/diskutils

Package: diskutils
Architecture: all
Depends:
    bash-shlib,
    util-linux,
    ${misc:Depends}
Description: Disk utils
  Includes:
    mkhdd, readmbr, writembr, etc.
