Source: isz-tool
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net/alt/isz-tool
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/isz-tool

Package: isz-tool
Architecture: all
Depends:
    python3,
    ${misc:Depends}
Description: Handle .isz files (ISO zipped)
