Source: libjs-jquery-focuspoint
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/libjs-jquery-focuspoint
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libjs-jquery-focuspoint

Package: libjs-jquery-focuspoint
Architecture: all
Depends: 
    libjs-jquery,
    ${misc:Depends}
Description: jQuery plugin for 'responsive cropping'.
    Dynamically crop images to fill available space without cutting out 
    the image's subject. Great for full-screen images.
