Source: ini-utils
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/utils/ini-utils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/ini-utils

Package: ini-utils
Architecture: all
Depends:
    ${misc:Depends}
Description: INI file manipulate utilities.
