Source: libjs-jquery-wallpaper
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/libjs-jquery-wallpaper
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libjs-jquery-wallpaper

Package: libjs-jquery-wallpaper
Architecture: all
Depends: 
    libjs-jquery,
    ${misc:Depends}
Description: A jQuery plugin for smooth-scaling image and video backgrounds. Part of the Formstone Library.
