Source: xjl-optalts
Section: misc
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/xjl-optalts

Package: xjl-optalts
Architecture: all
Depends: dpkg, xjl-autover
Description: Lenik's optional alternatives
