Source: whichm
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/perl/whichm
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/perl/whichm
Vcs-Browser: http://svn.bodz.net/uni/trunk/perl/whichm

Package: whichm
Architecture: all
Depends:
    libcmt-perl
    perl,
    ${misc:Depends}
Description: Perl utilities.
