Source: regf2t
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/utils/regf2t
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/fmt/regf2t

Package: regf2t
Architecture: all
Depends:
    bash-shlib,
    java,
    ${misc:Depends}
Description: Win32 Registry File Transform Tool
    This tool can transform Win32 registry file (e.g., NTUSER.DAT) to or
    from structured text files. So you can manage the registry using your
    favorite SCM softwares.
