Source: b43-openfwwf
Section: net
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~), b43-tools
Standards-Version: 3.9.1
Homepage: http://uni.bodz.net//mnt/clsdata/projects/uni/alt/b43-openfwwf
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/clsdata/projects/uni/alt/b43-openfwwf
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/clsdata/projects/uni/alt/b43-openfwwf

Package: b43-openfwwf
Architecture: all
Depends:
Description: Open FirmWare for WiFi networks: a UniBS NTW group project
    OpenFWWF, Open FirmWare for WiFi networks, is a project that wants to provide an easy and inexpensive platform to implement new Medium Access Control (MAC) mechanism, and wants to be a valid alternative to simulations and expensive ad-hoc platforms. The combination of OpenFWWF and b43 driver is a complete and cheap tool that makes testing of new MAC easy achievable.
    This site provides an open source firmware for Broadcom/AirForce chipset based devices. Currently this firmware has been tested on 4306 and 4318 chipset revisions and with kernel 2.6.27-rc5 (module b43 from wireless-testing). Firmware has been developed starting from specifications in http://bcm-v4.sipsolutions.net: we report here some information more we discovered, such as important interactions between the MAC processor, the hardware registers and the operating mechanisms that rules data frames along the transmission and reception paths.
    This project has been successfully completed thanks to the work of reverse engineering available at http://bcm-v4.sipsolutions.net and to the tools that Michael Buesch makes available to the community.
