Source: eclipse-enh
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/eclipse-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/toolenh/eclipse-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk/toolenh/eclipse-enh

Package: eclipse-enh
Provides: cooleclipse
Architecture: all
Depends:
Description: Provide eclipse intergration with links
