Source: coolqt
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/devel/coolqt
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/devel/coolqt
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/devel/coolqt

Package: coolqt
Architecture: all
Depends:
    bash-aliases,
    bash-shlib,
    ${misc:Depends}
Description: Cool Qt developer tools
    This package contains utilities for developing with Qt.
