Source: coolqt
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.2
Homepage: http://uni.bodz.net/devel/coolqt
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/devel/coolqt

Package: coolqt
Architecture: all
Depends:
    bash-alias,
    bash-shlib,
    ${misc:Depends}
Description: Cool Qt developer tools
    This package contains utilities for developing with Qt.
