Source: cdu-bodz-ci
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/integration-cdu/cdu-bodz-ci
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-bodz/cdu-bodz-ci

Package: cdu-bodz-ci
Architecture: all
Depends:
    cdu-bodz-base,
    ${misc:Depends}
Suggests:
    cdu-bodz-vol-dev
Description: boDz CI support
