Source: cdu-bodz-vol-dev
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/integration-cdu/cdu-bodz-vol-dev
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-bodz/cdu-bodz-vol-dev

Package: cdu-bodz-vol-dev
Architecture: all
Depends:
    cdu-bodz-base,
    ${misc:Depends}
Description: Mount of vol:bodzdev
