Source: mountfile
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/utils/mountfile
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/utils/mountfile
Vcs-Browser: http://svn.bodz.net/uni/trunk/utils/mountfile

Package: mountfile
Architecture: all
Depends:
    mount,
    bash-shlib
Description: Mount file by loop device, using default directory naming.
