Source: debiancd-utils
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/debiancd-utils

Package: debiancd-utils
Architecture: all
Depends: bash-shlib, squashfs-tools, genisoimage, lzma, mountfile
Description: Tools for create Ubuntu Live CD, etc.
