Source: libdog-dev
Section: libdevel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net/devel/t/libdog-dev
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/lib/libdog-dev

Package: libdog-dev
Architecture: all
Depends:
    libphobos2-dev,
    ${misc:Depends}
Description: D prOGram framework
    libdog is a D library.
