Source: php-site-utils
Section: php
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/php/php-site-utils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/web/php-site-utils

Package: php-site-utils
Architecture: all
Depends:
    php5,
    ${misc:Depends}
Description: PHP utilities for development.
