Source: php-site-utils
Section: php
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/php/php-site-utils
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/php/php-site-utils
Vcs-Browser: http://svn.bodz.net/uni/trunk/php/php-site-utils

Package: php-site-utils
Architecture: all
Depends: php5
Description: PHP utilities for development.
