Source: xjl-coollog
Section: python
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/xjl-coollog

Package: xjl-coollog
Architecture: all
Depends: python
Description: Lenik's Cool CLI Log
