Source: ai-utils
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/crypt/ai-utils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/crypt/ai-utils

Package: ai-utils
Architecture: any
Depends:
    libbas-c,
    air,
    ${misc:Depends}
Description: Ascii Art format utilities
    Encode or decode data in repeated sequence of a pre-defined ascii art 
    picture.

Package: air
Architecture: any
Depends:
    libbas-c,
    ${misc:Depends}
Description: Provides support of AI executable.
