Source: xjl-coolet
Section: misc
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.netn/xjl-coolet

Package: xjl-coolet
Architecture: all
Depends:
Description: Esperanto language accessories
