Source: cooltex
Section: text
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/text/cooltex
Vcs-SVN: http://svn.bodz.net/uni/trunk/text/cooltex
Vcs-Browser: http://trac.bodz.net/projects/bodz/browser/uni/trunk/text/cooltex

Package: cooltex
Provides: cooltex
Architecture: all
Depends: perl, libcmt-perl,
    bash-shlib, bash-aliases
Recommends: texlive-local
Suggests: texlive
Description: Lenik's TeX utilities.
