Source: locmore
Section: text
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/text/locmore
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/text/locmore
Rules-Requires-Root: no

Package: locmore
Architecture: all
Depends: 
    perl,
    libcmt-perl,
    libdir-self-perl,
    ${misc:Depends}
Description: Make your code looks more lines.

