Source: libjs-jquery-icheck
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/libjs-jquery-icheck
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libjs-jquery-icheck

Package: libjs-jquery-icheck
Architecture: all
Depends: 
    libjs-jquery,
    ${misc:Depends}
Description: Powerful jQuery and Zepto plugin for checkboxes and radio buttons customization
