[ca]
default_ca              = CA_default

[CA_default]
x509_extensions         = root_ca_extensions

[req]
default_bits            = 4096
default_keyfile         = .private.pem
distinguished_name      = req_distinguished_name
attributes              = req_attributes
prompt                  = no
x509_extensions         = v3_ca

[req_distinguished_name]
C                       = CN
ST                      = Zhejiang
O                       = www.lapiota.com
CN                      = Lapiota Test
emailAddress            = help@lapiota.com

[req_attributes]

[root_ca_extensions]
basicConstraints        = CA:true

[v3_ca]
basicConstraints        = CA:true
