Source: xjl-coolchm
Section: doc
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/xjl-coolchm

Package: xjl-coolchm
Architecture: all
Depends: xjl-libcmt, libchm-bin, libchm1
# libarchive-chm-perl, libtext-chm-perl
Description: CHM utilities based on libchm for Debian
