Source: caffe-local
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: http://uni.bodz.net/alt/caffe-local
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/caffe-local

Package: caffe-local
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends}
Description: Caffe local install
