Source: cls-lams
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-cls/cls-lams
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/pref-cls/cls-lams
Vcs-Browser: http://svn.bodz.net/uni/trunk/pref-cls/cls-lams

Package: cls-lams
Architecture: all
Depends: ${misc:Depends}, truecrypt-enh
Description: CLS-LAMs definition
