Source: svn2cl-enh
Section: misc
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/alt/svn2cl-enh

Package: svn2cl-enh
Architecture: all
Depends: subversion-tools
Description: Enhancement for svn2cl utility.
