Source: bash-aliases
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/base/bash-aliases
Vcs-SVN: http://svn.bodz.net/uni/trunk/base/bash-aliases
Vcs-Browser: http://trac.bodz.net/projects/bodz/browser/uni/trunk/base/bash-aliases

Package: bash-aliases
Provides: bash-aliases
Architecture: all
Depends: bash, configutils
Description: Add bash_aliases.d support to bash.
