Source: python-enh
Section: python
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/toolenh/python-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/python-enh

Package: python-enh
Architecture: all
Depends:
    python3,
    ${misc:Depends}
Description: Lenik's Python utilities.
