Source: b43-tools
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.1
Homepage: http://bu3sch.de/cms/index.html
Vcs-Git: git://git.bues.ch/b43-tools.git
Vcs-Browser: http://git.bodz.net/uni/alt/b43-tools

Package: b43-tools
Provides: b43-fwcutter
Architecture: any
Depends:
    ${misc:Depends}
Description: BCM43xx build tools
  Includes:
    b43-asm
    b43-beautifier
    b43-fwdump
    b43-ivaldump
    b43-ssb_sprom
