Source: gpg-enh
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/gpg-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/toolenh/gpg-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk/toolenh/gpg-enh

Package: gpg-enh
Provides: coolgpg
Architecture: all
Depends: ${misc:Depends}, bash-enh, coolutils, gnupg
Description: Cool GnuPG utilities and shortcuts.
