Source: jetty-pref-apache
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/alt/jetty-pref-apache
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/jetty-pref-apache

Package: jetty-pref-apache
Architecture: all
Depends:
    bash-shlib,
    configutils,
    jetty | jetty8,
    libderby-java,
    libjetty-extra-java | libjetty8-extra-java,
    ${misc:Depends}
Description: Apache web-app preferences for Jetty
