Source: jdk7-local
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/alt/jdk7-local
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/alt/jdk7-local
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/alt/jdk7-local

Package: jdk7-local
Architecture: all
Provides: java-compiler, java-sdk, java2-compiler, java2-sdk, java5-sdk,
        java6-sdk, java7-sdk,
        java-virtual-machine,
        java-runtime, java-runtime-headless,
        java2-runtime, java2-runtime-headless,
        java5-runtime, java5-runtime-headless,
        java6-runtime, java6-runtime-headless,
        java7-runtime, java7-runtime-headless
Depends:
Description: Virtual package for local installed Java 7 SDK.
