Source: vcscmds
Section: vcs
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/utils/vcscmds
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/utils/vcscmds
Vcs-Browser: http://svn.bodz.net/uni/trunk/utils/vcscmds

Package: vcscmds
Architecture: all
Depends: bash-aliases
Description: Common commands for various VCS.
