Source: libuni-java
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/lib/libuni-java
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/lib/libuni-java
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/lib/libuni-java

Package: libuni-java
Architecture: all
Depends: ${misc:Depends}
Description: Uni/Lapiota Base Library For Java
 The base library for Uni (aka. Lapiota).
