Source: libuni-java
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/lib/libuni-java
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/lib/libuni-java

Package: libuni-java
Architecture: all
Depends:
    ${misc:Depends}
Description: Uni/Lapiota Base Library For Java
    The base library for Uni (aka. Lapiota).
