#!/bin/bash
# vim: set filetype=sh :

_dir_="${0%/*}"
if [ "$_dir_" = "$0" ]; then
    _dir_=.
fi

cd "$_dir_"

if [ -f ./pre-inst ]; then
    ./pre-inst
fi

# Remove everything anyway
rpm -e --force @PACKAGE_LIST@ >/dev/null 2>/dev/null

for pkg in @PACKAGE_LIST@; do
    echo "Install $pkg"

    rpms=( $pkg-* )
    rpm0="${rpms[0]}"

    # Re-install it.
    rpm "$@" -i --nodeps --force "$rpm0"

    echo
done

if [ -f ./post-inst ]; then
    ./post-inst
fi
