Source: libm4-xjl
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/devel/libm4-xjl
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/lib/libm4-xjl

Package: libm4-xjl
Architecture: all
Depends:
    m4,
    ${misc:Depends}
Description: M4X libraries.
