Source: usb-mount
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: http://uni.bodz.net/fs/usb-mount
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/fs/usb-mount

Package: usb-mount
Architecture: all
Depends:
    bash-shlib,
    ${misc:Depends},
Description: USB mount utils
