Source: xjl-cools-term
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-cool

Package: xjl-cools-term
Provides: cools-term
Architecture: all
Description: Lenik's cool terminal tools set.
Recommends:
    xjl-aptutils,
    xjl-autover,
    xjl-bash-aliases,
    xjl-bash-shlib,
    xjl-cdtree,
    xjl-configutils,
    xjl-coolansi,
    xjl-coolauto,
    xjl-coolbash,
    xjl-coolcaps,
    xjl-coolchm,
    xjl-coolcmd,
    xjl-cooldiff,
    xjl-cooldns,
    xjl-coolet,
    xjl-coolgen,
    xjl-coolgit,
    xjl-coolgpg,
    xjl-coolgrub,
    xjl-coolhex,
    xjl-coolldap,
    xjl-coollog,
    xjl-coolmake,
    xjl-coolphp,
    xjl-coolpython,
    xjl-coolsox,
    xjl-coolspec,
    xjl-coolssh,
    xjl-coolsvn,
    xjl-coolsync,
    xjl-cooltext,
    xjl-coolusers,
    xjl-coolutils,
    xjl-coolvbox,
    xjl-coolvim,
    xjl-coolwget,
    xjl-coolwine,
    xjl-coolz,
    xjl-coretext,
    xjl-file-ini,
    xjl-fileutils,
    xjl-fsutils,
    xjl-laxar,
    xjl-libcmt,
    xjl-libm4,
    xjl-netutils,
    xjl-perlutils,
    xjl-security,
    xjl-sshproxy,
    xjl-treeutils,
    xjl-whoare,
    xjl-x509utils,
    xjl-xmlutils,
    xjl-yapp
