Source: cooltex
Section: text
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/text/cooltex
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/text/cooltex

Package: cooltex
Provides: cooltex
Architecture: all
Depends:
    bash-alias,
    bash-shlib,
    libcmt-perl,
    perl,
    ${misc:Depends}
Recommends:
    texlive-local,
    z-latex
Suggests:
    texlive
Description: Lenik's TeX utilities.
