Source: gsap
Section: web
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/gsap
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/gsap

Package: gsap
Architecture: all
Depends: ${misc:Depends}
Description: GreenSock animation platform.
