Source: cls-lenik
Section: admin
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-cls/cls-lenik
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-cls/cls-lenik

Package: cls-lenik
Architecture: all
Depends:
    ${misc:Depends}
Description: CLS-Lenik profile.
