Source: xpad-enh
Section: x11
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net//mnt/istore/projects/bodz/uni/toolenh/xpad-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/bodz/uni/toolenh/xpad-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/bodz/uni/toolenh/xpad-enh

Package: xpad-enh
Architecture: all
Depends: xpad, bash-aliases
Description: Xpad launcher
