Source: sources-pref-xjl
Section: admin
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-xjl/sources-pref-xjl
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/pref-xjl/sources-pref-xjl
Vcs-Browser: http://svn.bodz.net/uni/trunk/pref-xjl/sources-pref-xjl

Package: sources-pref-xjl
Architecture: all
Depends:
    upstart,
    users-pref-xjl,
    ${misc:Depends}
Description: XJL Startup
