Source: ollama-enh
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.2
Homepage: http://uni.bodz.net/toolenh/ollama-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/ollama-enh

Package: ollama-enh
Architecture: all
Depends:
    bash-shlib,
    ${misc:Depends},
Description: Ollama add-ons.
