Source: winedit
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/hack/winedit
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/hack/winedit

Package: winedit
Architecture: all
Depends:
    ${misc:Depends}
Description: Window Editor (under dev)
    Will support both win32 and X11.
