Source: amiutils
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/package/amiutils
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/package/amiutils
Vcs-Browser: http://svn.bodz.net/uni/trunk/package/amiutils

Package: amiutils
Architecture: all
Depends: ec2-api-tools, ec2-ami-tools
Description: Amazon EC2 AMI support utilities & docs
