Source: gcdutils
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/util/gcdutils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/gcdutils

Package: gcdutils
Architecture: all
Depends: bash-shlib, bash-ex
Description: Git version-controlled device utilities.
 Track device changes using Git.

