<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="net.bodz.pooh.applications"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.lapiota.pooh.ui.QuickPoohApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="utf-8"
            file-extensions="xjl,l,y"
            id="javaSourceEmbedded"
            name="Java Source Embedded File"
            priority="normal">
      </content-type>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.lapiota.pooh.ui.QuickPoohPerspective"
            id="net.bodz.pooh.ui.QuickPoohPerspective"
            name="Quick Pooh">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Quick Pooh Category"
            id="net.bodz.pooh.views.QuickPoohCategory">
      </category>
      <view
            name="Debug Console"
            icon="icons/sample.gif"
            category="net.bodz.pooh.views.QuickPoohCategory"
            class="com.lapiota.pooh.views.DebugConsole"
            id="net.bodz.pooh.views.DebugConsole">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.bodz.pooh.actions"
            label="Pooh Tools"
            visible="true">
         <menu
               id="pooh"
               label="Pooh Tools"
               path="window/additions">
            <separator
                  name="util">
            </separator>
         </menu>
         <action
               class="com.lapiota.pooh.popup.actions.DumpPerspectiveAction"
               icon="icons/sample.gif"
               id="net.bodz.pooh.dumpPerspective"
               label="Dump Perspective Page Layout"
               menubarPath="pooh/util"
               toolbarPath="pooh/util">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            extensions="txt"
            id="npp"
            launcher="com.lapiota.pooh.editors.NppLauncher"
            name="Notepad++">
         <contentTypeBinding
               contentTypeId="net.bodz.pooh.javaSourceEmbedded">
         </contentTypeBinding>
      </editor>
      <editor
            default="false"
            id="emacs"
            launcher="com.lapiota.pooh.editors.EmacsLauncher"
            name="Emacs">
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.text">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="pooh.popups.objects"
            objectClass="java.lang.Object">
         <menu
               id="pooh"
               label="Pooh Tools"
               path="additions">
            <separator
                  name="dump">
            </separator>
         </menu>
         <action
               class="com.lapiota.pooh.popup.actions.ResourceProbeAction"
               id="net.bodz.pooh.resourceProbe"
               label="Resource Probe"
               menubarPath="pooh/dump"
               tooltip="Show reflected properties of selected resource.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="pooh.popups.resources"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="pooh"
               label="Pooh Tools"
               path="additions">
            <separator
                  name="terminals">
            </separator>
         </menu>
         <action
               class="com.lapiota.pooh.popup.actions.SystemTerminalAction"
               id="pooh.popups.resources.openTerminal"
               label="System Terminal Here"
               menubarPath="pooh/terminals">
         </action>
      </objectContribution>
      <objectContribution
            id="pooh.popups.javaElements"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu
               id="pooh"
               label="Pooh Tools"
               path="additions">
            <separator
                  name="terminals">
            </separator>
         </menu>
         <action
               class="com.lapiota.pooh.popup.actions.BashWithContextAction"
               id="pooh.popups.javaElements.openTerminal"
               label="Bash with main-class aliases"
               menubarPath="pooh/terminals">
         </action>
         <action
               class="com.lapiota.pooh.popup.actions.ResetClasspathsAction"
               id="pooh.popups.javaElements.clearCache"
               label="Refresh main-class list"
               menubarPath="pooh/terminals">
         </action>
      </objectContribution>
   </extension>

</plugin>
