Source: xjl-cooltex
Section: text
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-cooltex

Package: xjl-cooltex
Provides: cooltex
Architecture: all
Depends: perl, xjl-libcmt
    xjl-bash-shlib, xjl-bash-aliases
Suggests: texlive
Description: Lenik's TeX utilities.
