Source: svn-enh-gui
Section: x11
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/svn-enh-gui
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/toolenh/svn-enh-gui
Vcs-Browser: http://svn.bodz.net/uni/trunk/toolenh/svn-enh-gui

Package: svn-enh-gui
Architecture: all
Depends: subversion, meld, tkdiff, kdiff3
Description: Subversion & X11 integrations
