Source: coollog
Section: python
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/utils/coollog
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/utils/coollog
Vcs-Browser: http://svn.bodz.net/uni/trunk/utils/coollog

Package: coollog
Architecture: all
Depends: python
Description: Lenik's Cool CLI Log
