Source: sshproxy-z
Section: net
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/net/sshproxy-z
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/net/sshproxy-z
Vcs-Browser: http://svn.bodz.net/uni/trunk/net/sshproxy-z

Package: sshproxy-z-base
Architecture: all
Depends: users-pref-xjl
Description: SSH Proxy base environment.

Package: sshproxy-z-server
Architecture: all
Depends: sshproxy-z-base, openssh-server
Description: Lenik's sshproxy server-side components.
 Allow the sshproxy account be ssh-login-able.

Package: sshproxy-z-client
Architecture: all
Depends: sshproxy-z-base, openssh-client, autossh, ssh-enh,
    proxychains, screen
Description: Lenik's sshproxy client-side components.
 Contain the (public area) private key and startup configuration
 to create the ssh SOCK5 tunnel.

Package: sshproxy-z
Architecture: all
Depends: sshproxy-z-client, sshproxy-z-server
Description: sshproxy both server/client side.
