Source: xjl-coolgit
Section: vcs
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/xjl-coolgit

Package: xjl-coolgit
Architecture: all
Depends: git
Description: Git shortcuts & Switcher
