Source: isoutils
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/util/isoutils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/isoutils

Package: isoutils
Architecture: all
Depends: 
    genisoimage,
    isz-tool,
    ${misc:Depends}
Description: Utilities for accessing ISO image files.
