Source: empathy-enh
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/toolenh/empathy-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/empathy-enh

Package: empathy-enh
Architecture: all
Depends:
    empathy,
    ${misc:Depends}
Description: Auto start Empathy.
