Source: empathy-enh
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/toolenh/empathy-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/toolenh/empathy-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk/toolenh/empathy-enh

Package: empathy-enh
Architecture: all
Depends:
    empathy,
    ${misc:Depends}
Description: Auto start Empathy.
