
# see vercomp(5)

format        = $major.$minor.$revision_r$release_b$build_t$touch

major         = 3 minor
minor         = 4 revision

revision      = 7
revision.base = 110
revision.exec = svn_revision .
                # &svnrevnum file.c file2.c

release       = 13 build
release.base  = 12000

build         = 112 touch
build.base    = 22041

touch         = 11
touch.base    = 0
touch.incr    = 1
