
# see vercomp(5)

order = major minor revision release
format = %d.%d-%d_r%d

major = 3

minor = 4

revision = &svn_revision .
revision-base = 110

release = 12163
release-base= 12000

more-ver = 7.1
