Source: bash-enh
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/bash-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/toolenh/bash-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk/toolenh/bash-enh

Package: bash-enh
Provides: coolbash
Architecture: any
Depends: bash, bash-shlib
Recommends: bash-aliases, cdtree
Description: Cool bash utilities by Lenik.
