Source: bash-enh
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/toolenh/bash-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/bash-enh

Package: bash-enh
Provides: coolbash
Architecture: any
Depends:
    bash,
    bash-shlib,
    ${misc:Depends}
Recommends:
    bash-alias,
    cdtree
Description: Cool bash utilities by Lenik.
