Source: xjl-security
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-security

Package: xjl-security
Architecture: all
Depends: perl, xsel, xjl-libcmt
Description: Lenik's security utilities
