Source: more-loops
Section: base
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/base/more-loops
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/base/more-loops

Package: more-loops
Architecture: all
Depends:
    ${misc:Depends}
Description: Create more /dev/loop* devices
    This is a pseudo-package to configure the default kernel module options
    to make more /dev/loop* devices at boot time.
