Source: cls-adslutils
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-cls/cls-adslutils
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/pref-cls/cls-adslutils
Vcs-Browser: http://svn.bodz.net/uni/trunk/pref-cls/cls-adslutils

Package: cls-adslutils
Architecture: all
Depends: usecode, net-tools
Description: Utilities for Home LAN ADSL.
