Source: gcc-enh
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/toolenh/gcc-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/gcc-enh

Package: gcc-enh
Architecture: all
Depends:
    gcc,
    grep,
    sed,
    ${misc:Depends}
Description: gcc helper tools
    Utilities work with GCC.
