Source: tty-fx
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: 
    debhelper-compat (= 13),
    dltools
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/text/tty-fx
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/text/tty-fx

Package: tty-fx
Provides: tty-fx
Architecture: any
Depends:
    bash-enh,
    ncurses-bin,
    sed,
    xdotool,
    ${misc:Depends}
Description: Lenik's terminal (device) utilities.
