<?xml version="1.0" encoding="utf-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>mirror-releases</id>
            <name>Local Release Mirror</name>
            <mirrorOf>central</mirrorOf>
            <url>http://m2.local</url>
        </mirror>
        <mirror>
            <id>mirror-snapshots</id>
            <name>Local Snapshot Mirror</name>
            <mirrorOf>snapshots</mirrorOf>
            <url>http://m2s.local</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>m2-local</id>
            <repositories>
                <repository>
                    <id>m2.local</id>
                    <url>http://m2.local</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>m2s.local</id>
                    <url>http://m2s.local</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>m2-local</activeProfile>
    </activeProfiles>
</settings>
