body {
    margin: 0;
}

dl.projects {
    border-radius: 1em;
    margin: .5em 2em;
    column-width: 20em;
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
}

dl.projects dt {
    font-family: monospace, courier;
    font-weight: bold;
    display: list-item;
    list-style-position: inside;
    list-style-image: url("img/project.png");
}

dd { #
    font-family: courier;
    padding-bottom: 0.5em;
}

hr.line {
    margin: 0;
    height: 4px;
    border: none;
    background-color: #ccccff;
}

.ui-menubar {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

.ui-menubox {
    padding: 0 0 0.5em 0;
    max-width: 20em;
    overflow: hidden;
}

.ui-caption {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin: 0 0 .3em 0;
    text-indent: 1em;
}

.ui-menuitem {
    margin: 0 1em .2em 3em;
}

ul.ui-enums {
    padding-left: 0;
}

ul.ui-enums li {
    list-style: none;
    display: inline;
    white-space: nowrap;
    margin-right: .5em;
    padding: .2em;
    line-height: 2em;
    border-style: dashed;
    border-width: 1px;
    border-radius: 5px;
}

ul.ui-enums li.ui-inactive {
    border-style: solid;
}

ul.ui-enums li a {
    text-decoration: none;
}

#navbar {
    width: 100%;
    height: 1em;
    padding: 0.5em 1em;
}

#main {
    margin: 0 1em;
}

.side-bar {
    margin: .5em 0 0 0;
    float: right;
}

.side-box {
    width: 10em;
    margin-bottom: 1em;
}

.copyright {
    text-align: center;
    font-style: italic;
    height: 7em;
}

.uni-section {
    margin-bottom: 2em;
}

.uni-project {
    margin: 0 1em 2em;
}

.prj-icon {
    width: 48px;
    height: 48px;
    float: left;
    border: solid 1px black;
    margin-right: 1em;
}

.prj-icon-large {
    width: 100px;
    height: 100px;
    float: right;
    border: solid 1px black;
    margin: 1em;
}

.prj-description a {
    display: list-item;
    list-style-position: inside;
    list-style-image: url("img/project.png");
}

.prj-status {
    font-size: small;
}

.prj-panel {
    margin: 1em 0;
    border: dashed 1px blue;
}