body {
    background-color: hsl(320, 100%, 95%);
    color: hsl(320, 79%, 32%);
}

h1 {
    text-shadow: .1em .1em .2em white;
}

h2 {
    background-color: hsl(330, 100%, 96%);
    text-shadow: .1em .1em .2em hsl(310, 100%, 83%);
}

a {
    color: hsl(320, 100%, 51%);
}

dl.projects {
    border-color: hsl(320, 63%, 47%);
}

.ui-menubar {
    
}

.ui-menubox {
    background-color: hsla(60, 100%, 95%, 0.9);
    border-color: hsl(320, 100%, 79%);
}

ul.ui-enums li {
    border-color: hsl(320, 100%, 70%);
    background-color: hsl(350, 100%, 88%);
}

ul.ui-enums li.ui-active {
    background-color: hsl(350, 100%, 95%);
}

.ui-caption {
    background-color: hsla(320, 100%, 91%);
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(hsl(320, 100%, 91%) ), to(hsl(0, 100%, 100%) ) );
}

#navbar {
    background-color: black;
}

.side-box {
    background-color: gray;
}

.copyright {
    background-color: hsl(320, 46%, 33%);
    color: hsl(320, 65%, 90%);
}