Source: svn-enh
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/toolenh/svn-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/toolenh/svn-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk/toolenh/svn-enh

Package: svn-enh
Provides: coolsvn
Architecture: all
Depends:
    subversion,
    bash-shlib,
    bash-aliases,
    ${misc:Depends}
Suggests:
    svn-enh-gui
Description: Lenik's SVN utilities.
