Source: ssh-enh
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/toolenh/ssh-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/ssh-enh

Package: ssh-enh
Provides: coolssh
Architecture: all
Depends:
    bash-shlib,
    coolgen,
    ${misc:Depends}
Recommends:
    sshfs
Description: SSH Client side utilities
