Source: jetty8-enh
Section: java
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/toolenh/jetty8-enh
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/toolenh/jetty8-enh
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/toolenh/jetty8-enh

Package: jetty8-enh
Architecture: all
Depends: jetty8, libjetty8-extra-java, libjetty8-java-doc
Description: Jetty 8 utilities.
