[ca]
default_ca              = CA_default

[CA_default]
x509_extensions         = root_ca_extensions

[req]
default_bits            = 4096
default_keyfile         = .private.pem
distinguished_name      = req_distinguished_name
attributes              = req_attributes
prompt                  = no
x509_extensions         = v3_ca

[req_distinguished_name]
C                       = CN
ST                      = Zhejiang
O                       = www.secca-project.com
OU                      = SECCA
CN                      = Lenik (Used in Amazon)
emailAddress            = xjl@99jsj.com

[req_attributes]

[root_ca_extensions]
basicConstraints        = CA:true

[v3_ca]
basicConstraints        = CA:true
