Source: coolspec
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/text/coolspec
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/text/coolspec

Package: coolspec
Provides: coolspec
Architecture: any
Depends:
    bash-enh,
    coolutils,
    ${misc:Depends}
Description: alpha-Spec tool chain.
