Source: grepl
Section: utils
Priority: required
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/text/grepl
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/text/grepl

Package: grepl
Architecture: all
Depends:
Description: Minimal core text utilities.
