Source: textcodecs
Section: text
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/text/textcodecs
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/text/textcodecs
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/text/textcodecs

Package: textcodecs
Architecture: all
Depends:
    bash-shlib,
    perl,
    ${misc:Depends}
Description: Utilities to convert between different text encodings
    textcodecs provides tools to help convert from one text encoding to another.
    Some binary encondings like BASE64 are also treated as text encoding.
    This also includes URL escaped encondings.
