Source: libcmt-perl
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/perl/libcmt-perl
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/perl/libcmt-perl
Vcs-Browser: http://svn.bodz.net/uni/trunk/perl/libcmt-perl

Package: libcmt-perl
Provides: libcmt-perl, libcmt
Architecture: all
Depends:
    libcrypt-blowfish-perl,
    libcrypt-cbc-perl,
    libcrypt-des-perl,
    libdbi-perl,
    libdigest-sha-perl,
    libfile-path-perl,
    libfile-temp-perl,
    libhtml-treebuilder-xpath-perl,
    libhttp-response-encoding-perl,
    libmime-base64-perl,
    libterm-readkey-perl,
    libtext-diff-perl,
    libtime-hires-perl,
    libtk-perl,
    libxml-simple-perl,
    libyaml-perl,
    perl,
    ${misc:Depends}
Description: cmt library in Perl.
