Source: xjl-coolauto
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-coolauto

Package: xjl-coolauto
Architecture: all
Depends: make, xjl-autover, xjl-bash-shlib
Recommends: xjl-bash-aliases
Description: Auto-tools helper and templates
