Source: bash-ex
Section: shells
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0), bash-builtins
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/base/bash-ex
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/base/bash-ex
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/base/bash-ex

Package: bash-ex
Architecture: any
Depends: 
    bash,
    bash-shlib,
    ${shlibs:Depends}, 
    ${misc:Depends}
Description: Bash extended builtin commands.
    This package provides extra builtin commands.
