Source: bash-ex
Section: shells
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0), bash-builtins
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/base/bash-ex
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/base/bash-ex

Package: bash-ex
Architecture: any
Depends: 
    bash,
    bash-shlib,
    ${shlibs:Depends}, 
    ${misc:Depends}
Description: Bash extended builtin commands.
    This package provides extra builtin commands.
