Source: allfonts
Section: fonts
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net//mnt/istore/projects/uni/selection/allfonts
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk//mnt/istore/projects/uni/selection/allfonts
Vcs-Browser: http://svn.bodz.net/uni/trunk//mnt/istore/projects/uni/selection/allfonts

Package: allfonts
Architecture: all
Depends:
Recommends:
    ttf-adf-accanthis,
    ttf-adf-baskervald,
    ttf-adf-berenis,
    ttf-adf-gillius,
    ttf-adf-ikarius,
    ttf-adf-irianis,
    ttf-adf-libris,
    ttf-adf-mekanus,
    ttf-adf-oldania,
    ttf-adf-romande,
    ttf-adf-switzera,
    ttf-adf-tribun,
    ttf-adf-universalis,
    ttf-adf-verana,
    ttf-aenigma,
    ttf-alee,
    ttf-ancient-fonts,
    ttf-aoyagi-kouzan-t,
    ttf-aoyagi-soseki,
    ttf-arabeyes,
    ttf-arphic-bkai00mp,
    ttf-arphic-bsmi00lp,
    ttf-arphic-gbsn00lp,
    ttf-arphic-gkai00mp,
    ttf-arphic-ukai,
    ttf-arphic-uming,
    ttf-atarismall,
    ttf-baekmuk,
    ttf-bengali-fonts,
    ttf-beteckna,
    ttf-bitstream-vera,
    ttf-bpg-georgian-fonts,
    ttf-breip,
    ttf-century-catalogue,
    ttf-dejavu,
    ttf-dejavu-core,
    ttf-dejavu-extra,
    ttf-dejima-mincho,
    ttf-denemo,
    ttf-devanagari-fonts,
    ttf-droid,
    ttf-dustin,
    ttf-dzongkha,
    ttf-ecolier-court,
    ttf-ecolier-lignes-court,
    ttf-engadget,
    ttf-essays1743,
    ttf-evertype-conakry,
    ttf-f500,
    ttf-farsiweb,
    ttf-femkeklaver,
    ttf-fifthhorseman-dkg-handwriting,
    ttf-freefarsi,
    ttf-freefont,
    ttf-georgewilliams,
    ttf-gfs-artemisia,
    ttf-gfs-baskerville,
    ttf-gfs-bodoni-classic,
    ttf-gfs-complutum,
    ttf-gfs-didot,
    ttf-gfs-didot,
    ttf-gfs-didot-classic,
    ttf-gfs-gazis,
    ttf-gfs-neohellenic,
    ttf-gfs-olga,
    ttf-gfs-porson,
    ttf-gfs-solomos,
    ttf-gfs-theokritos,
    ttf-goudybookletter,
    ttf-gujarati-fonts,
    ttf-hanazono,
    ttf-inconsolata,
    ttf-indic-fonts,
    ttf-ipafont,
    ttf-ipafont-gothic,
    ttf-ipafont-jisx0208,
    ttf-ipafont-mincho,
    ttf-ipafont-uigothic,
    ttf-isabella,
    ttf-jsmath,
    ttf-junicode,
    ttf-jura,
    ttf-kacst,
    ttf-kacst-one,
    ttf-kanjistrokeorders,
    ttf-kannada-fonts,
    ttf-khmeros,
    ttf-kiloji,
    ttf-kochi-gothic,
    ttf-kochi-mincho,
    ttf-komatuna,
    ttf-konatu,
    ttf-kouzan-mouhitsu,
    ttf-lao,
    ttf-larabie-deco,
    ttf-larabie-straight,
    ttf-larabie-uncommon,
    ttf-levien-museum,
    ttf-levien-typoscript,
    ttf-lg-aboriginal,
    ttf-liberation,
    ttf-linex,
    ttf-linux-libertine,
    ttf-lyx,
    ttf-malayalam-fonts,
    ttf-manchufont,
    ttf-marvosym,
    ttf-mathematica4.1,
    ttf-mgopen,
    ttf-mikachan,
    ttf-misaki,
    ttf-mona,
    ttf-monapo,
    ttf-mph-2b-damase,
    ttf-mplus,
    ttf-mscorefonts-installer,
    ttf-nafees,
    ttf-nanum,
    ttf-nanum-coding,
    ttf-ocr-a,
    ttf-oflb-asana-math,
    ttf-oflb-euterpe,
    ttf-okolaks,
    ttf-oldstandard,
    ttf-opendin,
    ttf-opensymbol,
    ttf-oriya-fonts,
    ttf-paktype,
    ttf-punjabi-fonts,
    ttf-radisnoir,
    ttf-rufscript,
    ttf-sawarabi-gothic,
    ttf-sawarabi-mincho,
    ttf-sazanami-gothic,
    ttf-sazanami-mincho,
    ttf-sil-abyssinica,
    ttf-sil-andika,
    ttf-sil-charis,
    ttf-sil-dai-banna,
    ttf-sil-doulos,
    ttf-sil-ezra,
    ttf-sil-galatia,
    ttf-sil-gentium,
    ttf-sil-gentium-basic,
    ttf-sil-nuosusil,
    ttf-sil-padauk,
    ttf-sil-scheherazade,
    ttf-sil-sophia-nubian,
    ttf-sil-yi,
    ttf-sil-zaghawa-beria,
    ttf-sinhala-lklug,
    ttf-sjfonts,
    ttf-staypuft,
    ttf-summersby,
    ttf-tagbanwa,
    ttf-takao,
    ttf-takao-gothic,
    ttf-takao-mincho,
    ttf-tamil-fonts,
    ttf-telugu-fonts,
    ttf-thai-arundina,
    ttf-thai-tlwg,
    ttf-tiresias,
    ttf-tmuni,
    ttf-tomsontalks,
    ttf-tuffy,
    ttf-ubuntu-font-family,
    ttf-ubuntu-title,
    ttf-umefont,
    ttf-umeplus,
    ttf-unfonts-core,
    ttf-unfonts-extra,
    ttf-unifont,
    ttf-unikurdweb,
    ttf-uralic,
    ttf-vlgothic,
    ttf-wqy-microhei,
    ttf-wqy-zenhei,
    ttf-xfree86-nonfree,
    ttf-xfree86-nonfree-syriac,
    xfonts-100dpi,
    xfonts-100dpi-transcoded,
    xfonts-75dpi,
    xfonts-75dpi-transcoded,
    xfonts-a12k12,
    xfonts-ayu,
    xfonts-baekmuk,
    xfonts-base,
    xfonts-bitmap-mule,
    xfonts-biznet-100dpi,
    xfonts-biznet-75dpi,
    xfonts-biznet-base,
    xfonts-bolkhov-75dpi,
    xfonts-bolkhov-cp1251-75dpi,
    xfonts-bolkhov-cp1251-misc,
    xfonts-bolkhov-isocyr-75dpi,
    xfonts-bolkhov-isocyr-misc,
    xfonts-bolkhov-koi8r-75dpi,
    xfonts-bolkhov-koi8r-misc,
    xfonts-bolkhov-koi8u-75dpi,
    xfonts-bolkhov-koi8u-misc,
    xfonts-bolkhov-misc,
    xfonts-cmex-big5p,
    xfonts-cronyx-100dpi,
    xfonts-cronyx-75dpi,
    xfonts-cronyx-cp1251-100dpi,
    xfonts-cronyx-cp1251-75dpi,
    xfonts-cronyx-cp1251-misc,
    xfonts-cronyx-isocyr-100dpi,
    xfonts-cronyx-isocyr-75dpi,
    xfonts-cronyx-isocyr-misc,
    xfonts-cronyx-koi8r-100dpi,
    xfonts-cronyx-koi8r-75dpi,
    xfonts-cronyx-koi8r-misc,
    xfonts-cronyx-koi8u-100dpi,
    xfonts-cronyx-koi8u-75dpi,
    xfonts-cronyx-koi8u-misc,
    xfonts-cronyx-misc,
    xfonts-cyrillic,
    xfonts-efont-unicode,
    xfonts-efont-unicode-ib,
    xfonts-encodings,
    xfonts-intl-arabic,
    xfonts-intl-asian,
    xfonts-intl-chinese,
    xfonts-intl-chinese-big,
    xfonts-intl-european,
    xfonts-intl-japanese,
    xfonts-intl-japanese-big,
    xfonts-intl-phonetic,
    xfonts-jisx0213,
    xfonts-jmk,
    xfonts-kaname,
    xfonts-kapl,
    xfonts-kappa20,
    xfonts-knickers,
    xfonts-marumoji,
    xfonts-mathml,
    xfonts-mona,
    xfonts-mplus,
    xfonts-jisx0213,
    xfonts-jmk,
    xfonts-kaname,
    xfonts-kapl,
    xfonts-kappa20,
    xfonts-knickers,
    xfonts-marumoji,
    xfonts-mathml,
    xfonts-mona,
    xfonts-mplus,
    xfonts-naga10,
    xfonts-nexus,
    xfonts-scalable,
    xfonts-shinonome,
    xfonts-terminus,
    xfonts-terminus-dos,
    xfonts-terminus-oblique,
    xfonts-thai,
    xfonts-thai-etl,
    xfonts-thai-manop,
    xfonts-thai-nectec,
    xfonts-thai-poonlap,
    xfonts-thai-vor,
    xfonts-tipa,
    xfonts-unifont,
    xfonts-utils,
    xfonts-wqy,
    xfonts-x3270-misc
Description: Virtual package to install a lot of fonts.
 Install this package to include ttf-*, xfonts-* fonts.
