Source: cls-domains
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/pref-cls/cls-domains
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-cls/cls-domains

Package: cls-domains
Architecture: all
Depends:
    bind-pref-xjl,
    coolutils,
    ${misc:Depends}
Description: Lenik's DNS configuration.
