Source: rrdtool-enh
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net/toolenh/rrdtool-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/rrdtool-enh

Package: rrdtool-enh
Architecture: all
Depends:
    bash-shlib,
    rrdtool,
    ${misc:Depends}
Description: rrdtool wrappers and utils
    The default rrdtool has too many parameters, and it's too
    complicated to setup a rrd database, cron tasks, etc.
    This tool aims to simplify the process of create and
    maintain rrd databases.
