Source: xjl-netutils
Section: net
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/xjl-netutils

Package: xjl-netutils
Architecture: all
Depends: perl
Description: Network utilities
