Source: ziputils
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/toolenh/ziputils
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/ziputils

Package: ziputils
Architecture: all
Depends:
    bash-shlib,
    bzip2,
    findutils,
    gzip,
    libarchive-tools,
    p7zip | p7zip-full
Description: Extra support to various zip format.
    This package provides 7z wrappers, to convert filename encodings.
