Source: bash-shlib
Section: utils
Priority: required
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/base/bash-shlib
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/base/bash-shlib

Package: bash-shlib
Provides: bash-shlib
Architecture: all
Depends:
    bash
Recommends:
    ncurses-bin
Description: A simple bash programming framework.
    bash-shlib introduced library support to bash, you can then
    build up shell programs by libraries.
    All shell libraries (aka. shlib, for bash library) are stored
    in /usr/lib/shlib.d directory. You can import them by import
    statement. All you need is put "source (.) shlib" at the
    beginning of your program.
