Source: cooltask
Section: utils
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/utils/cooltask
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/utils/cooltask
Vcs-Browser: http://svn.bodz.net/uni/trunk/utils/cooltask

Package: cooltask
Architecture: all
Depends: bash-shlib, bash-aliases
Description: Helper utitilities for task switching and logs
