Source: mplayer-enh
Section: graphics
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/toolenh/mplayer-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/mplayer-enh

Package: mplayer-enh
Architecture: all
Depends: 
    mplayer,
    ${misc:Depends}
Recommends:
    smplayer
Suggests:
    zhspeak
Description: mplayer utilities and wrappers.
