Source: libderby-java
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/alt/libderby-java
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libderby-java

Package: libderby-java
Architecture: all
Depends:
    ${misc:Depends}
Description: The Java Derby database.
