Source: rsync-rrc
Section: net
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.3
Homepage: http://uni.bodz.net/toolenh/rsync-rrc
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/net/rsync-rrc

Package: rsync-rrc
Architecture: all
Depends:
    bash-shlib,
    rsync,
    ${misc:Depends}
Description: Some sync utils based on rsync.
  Includes:
    rsync-push
    rsync-pull
