Source: libsqlgreat-postgresql
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/lib/libsqlgreat-postgresql
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/lib/libsqlgreat-postgresql

Package: libsqlgreat-postgresql
Architecture: all
Depends: 
    catme,
    ${misc:Depends}
Description: SQLGreat library for PostgreSQL.
