Source: cdu-bodz
Section: web
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/integration-cdu/cdu-bodz
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-bodz/cdu-bodz

Package: cdu-bodz
Architecture: all
Depends:
    cdu-bodz-base,
    cdu-bodz-ci,
    cdu-bodz-m2,
    cdu-bodz-svn,
    cdu-bodz-trac,
    users-pref-xjl,
    ${misc:Depends}
Description: boDz develop sites
