Source: coolcmd
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Rules-Requires-Root: no
Build-Depends: 
    debhelper-compat (= 13),
Standards-Version: 4.7.2
Homepage: http://uni.bodz.net/utils/coolcmd
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/coolcmd

Package: coolcmd
Provides: coolcmd
Architecture: all
Depends:
    bash-enh,
    coolbin,
    coolutils,
    perl,
    sleepenh,
    xdotool,
    ${misc:Depends}
Recommends:
    dnotify
Description: Quick command launcher
