Source: vexmount
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/utils/vexmount
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/vexmount

Package: vexmount
Architecture: all
Depends:
    mount,
    bash-shlib
Description: VEX/alt mounts, etc.
