Source: xjl-coolsox
Section: sound
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/xjl-coolsox

Package: xjl-coolsox
Architecture: all
Depends: sox, libsox-fmt-all, lame
Description: Sox-based audio utilities
