Source: xsel-enh
Section: x11
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: http://uni.bodz.net/toolenh/xsel-enh
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/toolenh/xsel-enh

Package: xsel-enh
Architecture: all
Depends:
    xsel,
    ${misc:Depends}
Description: Clipboard utils
