Source: cls-users
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/pref-cls/cls-users
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-cls/cls-users

Package: cls-users
Architecture: all
Depends:
    bash-enh,
    users-pref-xjl,
    ${misc:Depends}
Description: CLS predefined user switcher
