Source: laxar
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://uni.bodz.net/utils/laxar
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/packaging/laxar

Package: laxar
Architecture: all
Depends:
    bash-shlib,
    libcmt-perl,
    libdigest-md5-perl,
    libdigest-sha1-perl
    perl,
    ${misc:Depends}
Description: Archivar used in Lapiota.
