Source: autocommit
Section: vcs
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: http://uni.bodz.net/java/autocommit
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/java/autocommit

Package: autocommit
Architecture: all
Depends:
 bash-shlib,
 m2proj,
 ${misc:Depends},
Description: Auto commit file changes and add untracked files.

