Source: xmlutils
Section: devel
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/devel/xmlutils
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/devel/xmlutils
Vcs-Browser: http://svn.bodz.net/uni/trunk/devel/xmlutils

Package: xmlutils
Architecture: all
Depends: xalan, xsltproc, bash-shlib, xmlindent, configutils
Description: Simple XML utilities
