Source: libjs-jquery-scrollmagic
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://uni.bodz.net/alt/libjs-jquery-scrollmagic
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/libjs-jquery-scrollmagic

Package: libjs-jquery-scrollmagic
Architecture: all
Depends: ${misc:Depends}
Description: The javascript library for magical scroll interactions
    ScrollMagic helps you to easily react to the user's current scroll position.
    It's the perfect library for you, if you want to ...
    - animate based on scroll position – either trigger an animation or synchronize it to the scrollbar movement (like a playback scrub control).
    - pin an element starting at a specific scroll position – either indefinitely or for a limited amount of scroll progress (sticky elements).
    - toggle CSS classes of elements on and off based on scroll position.
    - effortlessly add parallax effects to your website.
    - create an infinitely scrolling page (ajax load of additional content).
    - add callbacks at specific scroll positions or while scrolling past a specific section, passing a progress parameter.

