Source: imgauto
Section: graphics
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/utils/imgauto
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/util/imgauto

Package: imgauto
Architecture: all
Depends:
    imagemagick,
    libjpeg-progs
    ${misc:Depends}
Description: Image automation tools
    This package provides utilities to process images.
