Source: autover
Section: devel
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7), libglib2.0-dev
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/devel/autover
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/devel/autover

Package: autover
Provides: autover
Architecture: any
Depends:
    autoconf,
    diff | diffutils,
    libglib2.0-0,
    sed,
    vcscmds,
    ${misc:Depends}
Description: Automatic version manager (core)
