Source: astah-local
Section: java
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://uni.bodz.net/alt/astah-local
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/alt/astah-local

Package: astah-local
Architecture: all
Depends:
    ${misc:Depends}
Description: Astah local installation and helpers.
    Astah local installation and helpers.
