Source: gnome-pref-xjl
Section: x11
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: http://uni.bodz.net/pref-xjl/gnome-pref-xjl
Vcs-Git: git://git.bodz.net/uni.git
Vcs-Browser: http://git.bodz.net/uni/asm-xjl/gnome-pref-xjl

Package: gnome-pref-xjl
Provides: coolx11
Architecture: all
Depends:
    desktoputils,
    x11-xserver-utils,
    ${misc:Depends}
Recommends:
    compizconfig-settings-manager
Suggests:
    compiz-plugins-extra
Description: Lenik's PC/X11 environment
