Source: coolclip
Section: gnome
Priority: extra
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/x11/coolclip
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/x11/coolclip
Vcs-Browser: http://svn.bodz.net/uni/trunk/x11/coolclip

Package: coolclip
Provides: coolclip
Architecture: all
Depends:
    imagemagick,
    libc6,
    libx11-6,
    ${misc:Depends}
Description: Add image, video clipboard format supports in cmdline.
