Source: bash-shlib
Section: utils
Priority: optional
Maintainer: Lenik (谢继雷) <lenik@bodz.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://uni.bodz.net/base/bash-shlib
Vcs-SVN: http://svn.bodz.net/svn/bodz/uni/trunk/base/bash-shlib
Vcs-Browser: http://svn.bodz.net/uni/trunk/base/bash-shlib

Package: bash-shlib
Provides: bash-shlib
Architecture: all
Depends: bash
Description: Add SHLIB support to bash.
